[2019-10-24 00:39] leecalcote opened #2 "Add sample client-side test result"
The client-side test result should contain throughput, errors, latency and so on from a performance test.

[2019-11-13 01:27] leecalcote opened #3 "Add appropriate project badges to this repo's README"
Each of the Meshery repos include a set of project badges.

Please add the applicable set of badges to this repo's readme.

**Example badges from main `meshery` repo:**

[![Docker Pulls](https://img.shields.io/docker/pulls/layer5/meshery.svg)](https://hub.docker.com/r/layer5/meshery)
[![Go Report Card](https://goreportcard.com/badge/github.com/layer5io/meshery)](https://goreportcard.com/report/git

[2019-11-13 09:10] leecalcote commented on #3
@arturba would you like to grab this one?

[2019-11-13 09:22] leecalcote opened #4 "Update "Other Meshery resources" README section"
Update "Other Meshery resources" README section with current community resource information. See Meshery repo for those details.

[2019-11-30 15:12] leecalcote opened #7 "Replace old logo with Layer5 logo"
The old logo shown in the [README](https://github.com/layer5io/service-mesh-benchmark-spec/blob/master/README.md) needs to be replaced with the Layer5 logo available[ here ](https://github.com/layer5io/layer5/blob/master/README.md)/

[2019-12-18 18:55] leecalcote commented on #7
thanks, @raghavaggarwal99

[2019-12-18 18:55] #7 closed

[2019-12-18 18:56] leecalcote commented on #3
Addressed by @gunjanmimo. Thanks!

[2019-12-18 18:56] #3 closed

[2019-12-20 22:32] #4 closed

[2020-01-10 04:00] leecalcote opened #13 "Add CII Badge to SMPS readme"

[2020-01-10 14:26] #13 closed

[2020-03-18 23:28] leecalcote opened #16 "Add example performance test result screenshot"
Add [this screenshot](https://github.com/layer5io/meshery/raw/master/docs/assets/images/readme/meshery_benchmark_screen.png) to the readme.

[2020-03-26 04:23] leecalcote commented on #2
Here's an example.

![service mesh performance specification example](https://user-images.githubusercontent.com/7570704/77610047-9dafba80-6eef-11ea-8978-70b78ecb8f90.gif)

[2020-03-26 19:46] #2 closed

[2020-04-26 21:10] nveenjain opened #19 "Update service mesh performance specification result.yaml"
Currently examples/service mesh performance specification result.yaml isn't following smps.yaml format. This needs to be updated.

[2020-04-30 19:40] nveenjain opened #21 "Add a protobuf file"
Currently, we are using smps.yaml as a spec.
A protobuf file to the project will greatly help in identifying the type and make the spec language agnostic.

[2020-05-04 05:39] kanishkarj opened #22 "Support for tags/labels"
Support of tags or labels for SMPS can turn out very useful. An very obvious and mostly the most important advantage is the ease of indexing and searching through the reports. Also considering the fact that large organizations might have stored 100s of 1000s of performance test results stored, something like tags or labels will help speed up the search by great magnitudes.

The question remains wh

[2020-05-04 20:54] #16 closed

[2020-05-05 11:50] leecalcote opened #23 "Create Issue Templates"
This repository would benefit from the same set of issue templates found in the other Layer5 repos.

@gunjanmimo or @ashiscs, would you mind assisting here?

[2020-05-06 06:47] Aisuko commented on #21
@leecalcote Any idea with this feature request? I'd like to get more information about this project.

[2020-05-06 19:49] nveenjain commented on #21
@Aisuko This is already being tackled in #24

[2020-05-08 09:41] kushthedude commented on #22
I think we can consider labels as labels are more informative and crisp then tags. But once we have established the SMPS as Mesh Performance Standard Criteria then coming to this feature would be much better.

[2020-05-08 13:32] kanishkarj commented on #22
The issue is being addressed in PR #24

[2020-05-14 02:29] #21 closed

[2020-05-14 02:30] leecalcote commented on #22
+1 for labels

[2020-05-18 23:28] leecalcote commented on #23
@Vineet-Sharma29 you might want to try your hand at this. It involves copying the GitHub issue templates from https://github.com/layer5io/meshery/tree/master/.github/ISSUE_TEMPLATE and pasting into a new `./github/ISSUE_TEMPLATE` folder in this repo.

[2020-05-19 01:58] Vineet-Sharma29 commented on #23
Sure!

[2020-05-19 11:55] leecalcote commented on #23
Thank you, @Vineet-Sharma29

[2020-05-29 16:22] #23 closed

[2020-06-15 17:19] leecalcote opened #26 "Separation of specification concerns into individual files."
**Current Behavior**
The single spec is long, making it hard to reason over and making use cases involving only the performance test configuration more difficult than they need to be.

**Desired Behavior**
Each of the five areas of the specification should be broken into individual specification files.

[2020-06-15 18:58] leecalcote opened #27 "Create a fifth specification to separate out workload metadata"
**Current Behavior**
The specification nominally considers for the description and all of the interesting metadata of the application (e.g. application name, application version, helm chart version #, and so on).

**Desired Behavior**
The definition of the workload profile definition should be expanded on.

Consider definitions like CNAB, Docker Compose, Helm, and so on.

[2020-06-16 03:24] kanishkarj commented on #26
I shall submit a PR on this.

[2020-06-16 03:28] leecalcote commented on #26
Thank you. 😄

[2020-06-16 11:50] kanishkarj commented on #26
I shall close this. So shall I go ahead and import this into meshery as a package?

[2020-06-16 12:05] leecalcote commented on #26
That sounds wonderful.

[2020-06-21 20:48] kushthedude commented on #27
I will look into it.

[2020-06-21 21:07] kushthedude opened #32 "CI : Introduce Prototool for the protobuf"
**Current Behavior**

We don't have a CI nor a linter to maintain & check consistency among the protobuf file.

**Desired Behavior**

Consider addition of [prototool](https://github.com/uber/prototool#configuration) as a CI check of the repository.

---
**Resources**

- https://github.com/uber/prototool#configuration
- https://buf.build/docs/migration-prototool
- https://github.com/bufbuild/buf

[2020-06-21 21:07] kushthedude commented on #32
/cc @kanishkarj @leecalcote

[2020-06-21 21:08] leecalcote commented on #32
Sounds great, @kushthedude

[2020-06-21 21:12] leecalcote opened #33 "Enum for `service_mesh` type"
To guarantee compatibility between SMPS implementations, we may want to use an enum for `service_mesh`.

_Originally posted by @leecalcote in https://github.com/layer5io/service-mesh-performance-specification/pull/31_

[2020-06-22 02:31] kanishkarj commented on #33
@leecalcote , wouldn't we also want to consider the difference versions of the service meshes?

[2020-06-22 02:58] leecalcote commented on #33
@kanishkarj Yes, for certain. For sure.

[2020-06-22 03:59] leecalcote opened #35 "Add support for egress gateways to SMPS"

[2020-06-23 20:22] #33 closed

[2020-06-23 20:24] leecalcote opened #37 "[Release] Create SMPS v0.1.0"
**Current State:**
SMPS as a spec has progressed to (arguably past) the point of a v0.1.0.

**Desired State:**
A v0.1.0 release needs to be made.

[2020-06-23 20:43] leecalcote commented on #37
fixed - https://github.com/layer5io/service-mesh-performance-specification/releases/tag/v0.1.0

[2020-06-23 20:43] #37 closed

[2020-06-23 22:27] leecalcote opened #38 "[Spec] Add a traffic.proto"
**Current State:**
Traffic protocols will be referenced in multiple places within SPMS (e.g. in the workload definition and the performance test configuration).

**Desired State:**
It will be good to define traffic specifications independently.

**Reference:**
When supporting gRPC, will the testURL be blank? Or be a function name? I think blank because it will just be a ping test.

_Originally pos

[2020-06-24 07:35] leecalcote commented on #38
@nveenjain what can be gleaned from https://github.com/servicemeshinterface/smi-spec/blob/master/apis/traffic-specs/v1alpha2/traffic-specs.md and used here?

[2020-06-24 16:53] leecalcote opened #39 "Remove smps.yaml from this repo"
**Description**
The smps.yaml has been displaced by smps.proto and sm.proto.

**Expected Behavior**
[smps.yaml](https://github.com/layer5io/service-mesh-performance-specification/blob/master/smps.yaml) should be deleted.

[2020-06-24 16:55] Dhiraj240 commented on #39
@leecalcote I will work on this issue.

[2020-06-24 16:59] leecalcote commented on #39
@Dhiraj240 thank you much. Yes, indeed. Simply that, if you would.

[2020-06-24 16:59] kushthedude commented on #39
@leecalcote Shouldn't smps.yaml should work as an ideal input for specification ?

[2020-06-24 17:00] leecalcote commented on #39
Yes, although, my impression was that we have accounted for each of these parameters. I could be mistaken.

[2020-06-24 17:04] Dhiraj240 commented on #39
Yeah, will do this

[2020-06-24 17:08] kushthedude commented on #39
The yaml file can work as a source of truth like how should I specify my data, as in the protobuf file I have only mentioned the type of data not the format like for example of data/time.

[2020-06-24 17:53] #39 closed

[2020-06-25 00:01] #35 closed

[2020-06-25 00:06] leecalcote opened #42 "[Chore] Reconcile img and assets folders; Consolidate to img folder."
**Current Behavior**
The `img/readme` and the `/assets` folders are duplicative (for the same purpose). These two folders need to be reconciled by deduplicating their contents.

**Desired Behavior**
All of these assets are consolidated into the `/img/readme` folder.

[2020-06-25 00:07] leecalcote commented on #42
@itsapoorvj, would you like to tackle this one?

[2020-06-25 10:26] itsapoorvj commented on #42
Sure, I will do that.

[2020-06-25 16:17] #42 closed

[2020-06-25 16:20] leecalcote opened #44 "Integrate traffic.proto spec into workload proto"
Eventually, we'll want this to refer to the traffic.proto - https://github.com/layer5io/service-mesh-performance-specification/issues/38

And this, too - https://github.com/layer5io/service-mesh-performance-specification/blob/master/smps.proto#L13

_Originally posted by @leecalcote in https://github.com/layer5io/service-mesh-performance-specification/pull/41_

[2020-06-26 19:17] leecalcote opened #45 "Create website for SMPS"
**Current Behavior**
Today, this initiative is best represented at https://layer5.io/performance. This initiative is in need of a dedicated site to describe its goals, how to get involved, and so on.

**Desired Behavior**
A new site created using Jekyll and GitHub Pages.

---
**Resources**
See https://meshery.io as an example.

[2020-06-26 19:30] kushthedude commented on #45
I was really waiting for this 🤩

[2020-06-26 20:00] kushthedude opened #46 "Spec: Remove auto-generated go-client files from the repository"
**Current Behavior**

We are storing generate golang files which in our repository which should not be there.

**Desired Behavior**

Implement a CI script to generate them every time after a push or have a custom bash-script to do so.

---

[2020-06-26 20:00] kushthedude commented on #46
/cc @leecalcote

[2020-06-26 20:01] kushthedude commented on #22
@kanishkarj I think we are good to close it right ?

[2020-06-26 21:49] leecalcote commented on #22
Thanks for confirming. Yes.

[2020-06-26 21:49] #22 closed

[2020-07-02 03:32] #27 closed

[2020-07-02 15:27] leecalcote commented on #46
Can these be added to .gitignore?

[2020-07-14 18:51] kushthedude opened #49 "Add a sample smps.yaml under examples folder"
**Current Behavior**

We don't have a sample file to let know how our specification looks like.

**Desired Behavior**

Add a sample smps.yaml under examples folder

[2020-07-14 18:56] kushthedude commented on #46
@leecalcote Yes this can be considered as an option, @kanishkarj suppose we put the generated client & server stubs in the gitignore, will it affect the SMPS package? I guess it yes.

[2020-07-14 22:49] leecalcote opened #50 "Add Stale bot to this repo"
**Description**
Unaddressed issues that remain open for long periods may be automatically marked stale and closed.

**Implementation**
Copy [stale.yml](https://github.com/layer5io/meshery/blob/master/.github/stale.yml) from the Meshery repo and put into the .github folder here.

[2020-07-14 22:50] leecalcote opened #51 "Add welcome message for first time contributors"
**Current Situation**
New contributors to this repo should be celebrated. A portion of this celebration can be automated.

**Desired Situation**
We can use a GitHub bot to do this. The [config.yml](https://github.com/layer5io/meshery/blob/master/.github/config.yml), [welcome folder and welcome image](https://github.com/layer5io/meshery/tree/master/.github/welcome) can be copied (and updated) from

[2020-07-15 03:08] kanishkarj commented on #46
I think it would. Go won't generate code from protobuf while installing the package right?

[2020-07-15 03:20] kanishkarj commented on #46
Something that might work would be to have the generated code in a separate repo and that repo will be a git sub module here. So the CI will just generate the go code from proto spec into that repo and commit and push those changes ?

[2020-07-15 06:26] kushthedude commented on #46
Or rather have the auto-generated code in a seperate folder `generated-stubs` & refer from it ?

[2020-07-15 06:37] leecalcote commented on #46
If we can treat the root cause, that would be even better. Is this a VS code plug-in that’s auto compiling?

[2020-07-15 06:40] #50 closed

[2020-07-15 06:40] #51 closed

[2020-07-15 15:41] leecalcote commented on #45
[Site ideas doc](https://docs.google.com/document/d/1tDGCiAh5ATeRCNAyTRzV4bVbKEy9k1QsakNiK7feGCc/edit?ts=5f0e0d9b)

[2020-07-17 17:07] kushthedude commented on #46
Actually there is no root cause, for SMPS go package to work we need generated stubs to be stored.

[2020-07-17 17:35] kushthedude commented on #19
Duplicate of #49

[2020-07-17 17:35] #19 closed

[2020-07-21 00:05] #38 closed

[2020-07-24 20:32] leecalcote opened #55 "Canonical implementation example animated gif missing"
The `service mesh performance specification example.gif` went missing recently.

[2020-07-24 20:34] leecalcote opened #56 "Add standard set of labels to this repo"
**Current Behavior**
Please add the ~50 labels to this repo.

[2020-07-25 04:45] crustyy commented on #56
@leecalcote fixed!!

[2020-07-25 05:01] leecalcote commented on #56
thank you, @crustyy 😄

[2020-07-25 05:01] #56 closed

[2020-07-25 05:05] leecalcote commented on #55
Fixed

[2020-07-25 05:05] #55 closed

[2020-07-30 01:44] leecalcote opened #67 "[site] Add `image` to default layout page's front matter"
**Current Behavior**
When the site link is shared, no image is retrieved and displayed.

**Desired Behavior**
The site should specify an image in the metadata. jekyll-seo can be used to assist here.

The amps-logo should be used as this image.

[2020-07-30 01:46] leecalcote opened #68 "[Docs] Create contributing docs for the smps-spec.io site"
**Current State:**
Site is created by Jekyll.
Site runs on GitHub Pages.
Site sits in this repo under /docs.

**Desired State:**
Contributing docs are needed here. The same docs used for either layer5.io or meshery.io can be copied.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tre

[2020-07-30 05:32] #67 closed

[2020-08-01 14:20] kushthedude commented on #45
Closed in #57

[2020-08-01 14:20] #45 closed

[2020-08-02 13:15] PluckyPrecious commented on #68
@leecalcote should I take this up?

[2020-08-02 13:16] leecalcote commented on #68
@PluckyPrecious that would be nice. Yes, please.

[2020-08-03 04:52] leecalcote opened #71 "Add service mesh version support to sm.proto"
**Current Behavior**
[sm.proto](https://github.com/layer5io/service-mesh-performance-specification/blob/master/sm.proto) identifies service mesh by name, but excludes other metadata like service mesh version number.

**Desired Behavior**
SPMS will need to afford for identifying a given service mesh's version #.

[2020-08-03 04:52] leecalcote commented on #71
// @kumarabd

[2020-08-03 08:45] kumarabd commented on #71
@leecalcote Will have a discussion with @kanishkarj and take this ahead.

[2020-08-03 09:16] PluckyPrecious opened #72 "[Docs] Create smp documentation google doc."
**Current State:**
The Service Mesh Performance has no google doc for additional reference

**Desired State:**
create a reference google doc for service mesh and add to the down part of the doc README.md for additional reference. You can recreate this meshery doc https://docs.google.com/document/d/17guuaxb0xsfutBCzyj2CT6OZiFnMu9w4PzoILXhRXSo/edit

---
**Contributor Resources**
- [Service Mesh Perf

[2020-08-03 12:09] kushthedude commented on #71
There is already a field present for the same `string mesh-build version`

[2020-08-03 14:15] kumarabd commented on #71
Yes, we need to clean up the proto a little. Looking into that. @kushthedude

[2020-08-04 00:02] #68 closed

[2020-08-04 19:20] leecalcote opened #74 "[Docs] Remove extraneous published URLs"
**Current State:**
The [site's sitemap](https://smp-spec.io/sitemap.xml) has a few pages unnecessarily published.

**Desired State:**
Non-essential, template, or test pages should not be public.

---
**Contributor Resources**
- [Meshery documentation site](https://meshery.layer5.io/docs/)
- [Meshery documentation source](https://github.com/layer5io/meshery/tree/master/docs)
- [Instructions for con

[2020-08-04 19:22] leecalcote opened #75 "Update Issue Templates to reflect that of SMPS"
**Description**
The [issue templates in this repo](https://github.com/layer5io/service-mesh-performance-specification/tree/master/.github/ISSUE_TEMPLATE) refer to Meshery.

**Expected Behavior**
These templates should refer to the contribution process specific to SMPS that @PluckyPrecious did such a great job of creating.

[2020-08-05 07:12] PluckyPrecious commented on #75
Hi @leecalcote I'll look into it, thanks.

[2020-08-07 05:06] leecalcote opened #76 "[CI] Add releasedrafter to this repo"
**Description**
Leverage (copy) the releasedrafter configuration from the `meshery` repo.

- https://github.com/layer5io/meshery/blob/master/.github/workflows/release-drafter.yml

[2020-08-08 15:06] JubayerJoy commented on #74
Hi @leecalcote, I want to work on this.

[2020-08-08 15:10] Nikhil-Ladha commented on #74
Sure, @JubayerJoy go ahead 👍🏼🙂. You can assign this yo yourself so, that someone else doesn't pour water on your work 😆.

[2020-08-08 15:21] JubayerJoy commented on #74
@Nikhil-Ladha, I am not a collaborator, so can't assign myself. Got here from first-timer-only twitter bot. 😄

[2020-08-08 15:24] Nikhil-Ladha commented on #74
No sweat 🙃. Here you go... Also, please feel free to join our slack workspace here

[2020-08-08 16:57] JubayerJoy commented on #76
I have Leveraged the releasedrafter configuration from the ```meshery``` repo to this Repo.
Please review.

_Note:_ There were some _sign-off issues_ in the first two PRs, I've corrected them in the last one.

[2020-08-08 19:38] JubayerJoy commented on #74
I am working on it 👍
[Here](https://github.com/layer5io/meshery/blob/master/docs/pages/sitemap.xml), I found a sitemap.xml that is published in the meshery repo, but for this repo sitemap is auto-generated via jekyll-sitemap plugin.

I am thinking of excluding "assets" and "collection" subdirectory being crawled by the plugin, that should provide a desirable sitemap. This can be done by following

[2020-08-08 19:43] leecalcote commented on #74
@JubayerJoy Thanks for jumping into this issue. Restricting the sitemap is a good thought and consideration.

Our general goal here is to index all collections (blog posts for now) and assets in order to build topic relevance, domain authority, and page rank so as to solicit as much relevant interest and traffic as possible. In light of this goal, it seems that excluding this content may be to our

[2020-08-08 19:44] #76 closed

[2020-08-08 20:30] JubayerJoy commented on #74
@leecalcote, completely agree with you 👍
Can you share some ideas?

[2020-08-08 20:55] technohermit commented on #74
Is it possible to use path: 'collections/temp**' so that any pages beginning with temp are then excluded?

Pages that need to be excluded could then always begin with a couple of keywords, like temp**, test**,info** or similar making the ability to exclude them simpler?

[2020-08-08 23:54] leecalcote commented on #74
That's a good idea, @technohermit.

While trying to be supportive of your original suggestion, @JubayerJoy, I might have confusingly sounded supportive of restricting content in the sitemap. To clarify, don't want to restrict any content from being included in the sitemap. We want Google to be well-aware of every piece of content on the site. We want the sitemap to be robust, so that people visit

[2020-08-09 04:57] leecalcote opened #80 "Change project name from SMPS to SMP"
**Current State:**
SMP is shorter and gets people less tripped up. It doesn't need "Specification" in the title. Many people will already add the word _specification_ as a descriptor when describing SMPS, so the "S" often becomes redundant.

**Desired State:**
- [ ] Change this repository's name (drop "specification")
- [ ] Remove the "S" in SMPS in the logo.
- [ ] Update elsewhere....?

---
**Con

[2020-08-09 08:49] JubayerJoy commented on #80
Hi, I can work on it!
I will update the Repo name and Logo.
Some places I noticed needs to be changed,
 - [Layer5 Program page](https://layer5.io/projects/service-mesh-performance-specification)
 - [Rename release SMPS v0.1.0 to SMP v0.1.0](https://github.com/layer5io/service-mesh-performance-specification/releases/tag/v0.1.0)
 - [SMPS Readme.md](https://github.com/layer5io/service-mesh-performanc

[2020-08-09 14:33] PluckyPrecious commented on #80
Awesome! Please do go ahead. 👍🏽

[2020-08-09 16:56] PluckyPrecious commented on #75
Hi @leecalcote @kushthedude @chandrashritii could you please direct me to the SMP documentation site page? I can't find any, if there isn't then the template will be incomplete. Which means an index.html need to be created.

Your thoughts?

[2020-08-09 16:58] leecalcote commented on #75
@PluckyPrecious good question. The issue template from the Meshery repo are a great starting point - https://github.com/layer5io/meshery/tree/master/.github/ISSUE_TEMPLATE. Some of these can be directly copied, while one or two make need a slight tweak to be SMP specific.

[2020-08-09 22:24] leecalcote commented on #80
Oh, no. I just completed this and didn't realize that @JubayerJoy had signed up to work on this. Oops. I'm including SMP in a book that I'm finalizing draft on today (and so it is top of mind). I took a break to make this update.  After which, I find the issue is already assigned.

There is plenty more where this comes from, though @JubayerJoy. Would you like to review the PR for this issue?

[2020-08-09 23:28] JubayerJoy commented on #80
Hi, @leecalcote, I was working on this issue parallel to you, and just noticed the update while sending in the PR. 😥

I think you should [Rename release SMPS v0.1.0 to SMP v0.1.0](https://github.com/layer5io/service-mesh-performance-specification/releases/tag/v0.1.0) and also should change [Layer5 page](https://layer5.io/projects/service-mesh-performance-specification) if you haven't already.

bes

[2020-08-09 23:43] JubayerJoy commented on #80
I have reviewed the PR, Looks solid ✊
You can use the edited logos from my PR, I'm including [Google drive link](https://drive.google.com/drive/folders/1eZNyrGCvJKCDELWbcBmACosvcOdyo6xT?usp=sharing) so you can download and add them easily to this Repo!
Cheers! 👍

[2020-08-10 06:33] PluckyPrecious commented on #80
Weldone @JubayerJoy you rock! 🥳

[2020-08-11 01:43] #80 closed

[2020-08-11 02:54] JubayerJoy opened #87 "Delete old blog post that should have been replaced"
**Description**

- An old blog post was updated but not replaced in https://smp-spec.io/

**Expected Behavior**

- The old post should be removed.

**Screenshots**

<img src = "https://i.imgur.com/9c6peyL.png">

[2020-08-11 03:20] leecalcote opened #88 "Two copies of the "Analyzing with SMP" blog"
**Description**
After the merge of the change from smps to smp, there is an extra copy (a residual copy of this post)

**Expected Behavior**
Only the "SMP" post should remain.

**Screenshot**
![5C35A1DF-9EF5-4872-920A-EDD9048EF9AA](https://user-images.githubusercontent.com/7570704/89853704-ab40a680-db57-11ea-8d2e-d3c321b3a128.png)

**Environment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Sa

[2020-08-11 04:08] Nikhil-Ladha commented on #87
Same as #88

[2020-08-11 06:21] JubayerJoy commented on #88
Hi @leecalcote, I noticed the bug and filed an issue #87.
I have made PR #89 to solve this 👍

[2020-08-11 07:02] JubayerJoy commented on #88
@leecalcote, the release tag name is `SMPS v0.1.0`. What is your thought on changing it to `SMP v0.1.0`?
'<img src ="https://i.imgur.com/r1UXqa7.png">

[2020-08-11 07:56] PluckyPrecious opened #90 "Create SMP Documentation Site Page."
**Current Behavior**

The contributor resource takes you to the Meshery Documentation site page -https://meshery.layer5.io/docs/

**Desired Behavior**

We need it to be directed to SMP site https://smp-spec.io/docs/ but there is none available. This will help complete update on documentation template. #75

---
**Resources**

You can copy from the Meshery https://github.com/layer5io/meshery/blob/ma

[2020-08-11 08:00] PluckyPrecious commented on #90
@leecalcote @chandrashritii your thought?

[2020-08-11 11:01] #87 closed

[2020-08-11 22:35] #75 closed

[2020-08-12 09:48] chandrashritii commented on #72
@PluckyPrecious This is a really good idea. Two issues -
- The Meshery documentation doc cannot exactly be regurgitated here because the SMP project has certain features and implementations which should be highlighted in the documentation.
- The [smp-spec.io](https://smp-spec.io/) site has a very different (much more basic) layout than the [meshery.io](https://meshery.io/) site. We can source the

[2020-08-12 09:50] chandrashritii commented on #72
Thanks for the idea @PluckyPrecious 🎈 We will come up with a better implementation process for this. Let's get you on to better issues.

[2020-08-12 09:50] #72 closed

[2020-08-12 10:04] chandrashritii opened #92 "[Site] Fix blog layout"
**Description**

The blog posts on the [smp-spec.io](https://smp-spec.io/) site open in a pop-up box in the same tab.

**Expected Behavior**

The posts should have a post layout (can be copied from the Layer5 blog) and should be set to open in a new tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://smp-spec.io/'
2. Scroll down to the 'Blog' section.
3. Click on any of the p

[2020-08-12 10:05] chandrashritii commented on #92
@Neilblaze Do you want to take this up?

[2020-08-12 10:09] chandrashritii opened #93 "[Site] Add test run stats"
**Description**

Similar to the display of the number of tests run as seen on the [meshery.io](http://meshery.io/) site, it would be good to see this same number displayed on [smp-spec.io](https://smp-spec.io/) in the `Implementation` section, below the gif image.

<img width="780" alt="Screen Shot 2020-08-05 at 12 37 26 AM" src="https://user-images.githubusercontent.com/34476976/90003444-bc052f80

[2020-08-12 10:15] chandrashritii opened #94 "[Site] Showcase github stats for the SMP repository"
**Description**

Display the github stats for the [smp repo](https://github.com/layer5io/service-mesh-performance-specification) on the [smp-spec.io](http://smp-spec.io/) site, in the `Implementation` section, below the gf image and the test-run stats (see #93).

<img width="561" alt="Screen Shot 2020-08-05 at 12 37 21 AM" src="https://user-images.githubusercontent.com/34476976/90004001-8dd41f80-d

[2020-08-12 12:34] Neilblaze commented on #92
Yes I can, but atm my exams are going on :sweat_smile:
So, it will be better if it's kept open for some days, if someone takes it up, well and good! :smile: & if don't then rest be assured I'll definitely take this up :laughing:

[2020-08-13 05:28] leecalcote commented on #88
@JubayerJoy great suggestion. Wow, what an eye for detail. 😄

[2020-08-13 05:30] #90 closed

[2020-08-15 07:42] Nikhil-Ladha commented on #88
Closed by #89

[2020-08-15 07:42] #88 closed

[2020-08-17 09:24] PluckyPrecious commented on #26
Hi @leecalcote can we close this issue?

[2020-08-17 09:25] PluckyPrecious commented on #32
@kushthedude can we close this issue now?

[2020-08-17 09:29] PluckyPrecious commented on #74
Hi @JubayerJoy what's the situation report? 😃

[2020-08-17 09:30] PluckyPrecious commented on #92
Knock knock @manishdangi98 what's the situation report? 😃

[2020-08-17 09:47] kushthedude commented on #32
No, a lot of stuff is remaining

On Mon, 17 Aug, 2020, 14:55 Kelechi Precious Nwachukwu, <
notifications@github.com> wrote:

[2020-08-17 10:13] chandrashritii opened #96 "create netlify build"
**Description**

Create a netlify build for the [smp-spec.io](https://smp-spec.io/) site, similar to the one present for the layer5.io site on the layer5 repository.

[2020-08-17 10:13] chandrashritii commented on #96
@Tanuj22 Would you like to take this one up?

[2020-08-17 10:24] Tanuj22 commented on #96
@chandrashritii Sure

[2020-08-17 14:55] #93 closed

[2020-08-17 16:17] JubayerJoy commented on #74
Hi @PluckyPrecious, I need a bit more clarification on which URLs should be excluded from the sitemap. As I understand, these three links should not appear in the sitemap.

[sitemap](https://imgur.com/knB3wmt.png)

@leecalcote please give some input.
Thanks!

[2020-08-17 18:34] leecalcote commented on #74
@JubayerJoy front matter in the template.html can be adjusted to move it to hide the file or it can be moved to an `_drafts` folder.

We're not using particlejs in this site. I can be removed altogether. // @chandrashritii

[2020-08-17 19:41] JubayerJoy commented on #74
@leecalcote, I think moving `template.html` to a new subdirectory `_draft` is a nice solution! Anything that's being worked on should remain in `_draft` thus invisible in the sitemap. `_draft` front-matter default will be adjusted to give `sitemap: false`.
@chandrashritii, please take care of particle.js

I think that should close this issue! Cheers! 🎈

[2020-08-18 09:27] leecalcote commented on #74
@chandrashritii will you confirm that you will be removing particle.js?

[2020-08-18 12:10] chandrashritii commented on #74
Yes. I'll remove the particlejs files @leecalcote

[2020-08-20 12:14] PluckyPrecious commented on #96
@Tanuj22 situation report please. 😃

[2020-08-20 19:14] JubayerJoy commented on #92
Hi @manishdangi98, if you are not working on it, I would love to squash this bug!

[2020-08-20 19:28] manishdangi98 commented on #92
Sure @JubayerJoy  you can take this

[2020-08-21 08:35] Tanuj22 commented on #96
@leecalcote Netlify needs access to the repo. I have requested access from netlify could you check?

[2020-08-21 08:45] #94 closed

[2020-08-22 21:42] leecalcote opened #99 "Remove unused particle.js (has security vulnerabilities)"

[2020-08-24 03:08] #99 closed

[2020-08-24 12:33] Nikhil-Ladha commented on #96
Done!

[2020-08-24 12:33] #96 closed

[2020-08-25 13:37] PluckyPrecious opened #102 "[Docs]Add RVM Description to SMP Documentation"
**Current State:**
Windows users are having issues using Jekyll and there's no description to help with that.

**Desired State:**
Provide a description of RVM to the `set up your development environment` section of the SMP Doc by adding this line.

` Note: Windows users can run Jekyll by following the [Windows Installation Guide](https://jekyllrb.com/docs/installation/windows/) and also install Ru

[2020-08-25 15:54] chandrashritii opened #103 "[Site] Remove extra padding"
**Description**
The Resources and Connect sections have unnecessary top and bottom padding. Remove the extra padding present in these sections and adjust the existing content accordingly to make the sections look more presentable.

**Screenshots**

![Screenshot_2020-08-25 Service Mesh Performance Specification(1)](https://user-images.githubusercontent.com/34476976/91197845-7288fb80-e719-11ea-9eef-

[2020-08-25 16:03] chandrashritii opened #104 "[Site] Fix header size"
**Description**

Reduce the header length to make it more compact and accordingly resize the smp logo to fit the header. This will take some attempts at playing around with different sizes for the header and the smp logo to achieve the perfect combination.

**Steps to reproduce**
1. Go to https://smp-spec.io/
2. Observe the header

[2020-08-25 16:09] chandrashritii opened #105 "[Site] Reformat the footer section"
**Description**

Currently, the footer section houses the social icons. The section should be reformatted to include -
- A site guide
- Social buttons
- A twitter window

Inspiration can be taken from the [Meshery](https://meshery.io/) site:

![Screenshot_2020-08-25 Meshery The Service Mesh Management Plane](https://user-images.githubusercontent.com/34476976/91199435-83d30780-e71b-11ea-85cd-80edf2

[2020-08-25 16:57] JubayerJoy commented on #105
Hi @chandrashritii, I would love to take this issue!

[2020-08-25 17:36] chandrashritii commented on #105
@JubayerJoy Sure. Go ahead 👍

[2020-08-26 16:50] oyinmi commented on #102
Can someone please assign this to me?

[2020-08-26 17:31] JubayerJoy commented on #102
@oyinmi good luck to you! 🎈

[2020-08-26 17:46] oyinmi commented on #102
@JubayerJoy Thank you.

[2020-08-27 17:00] PluckyPrecious opened #107 "Add Reminder in the Welcome Bot to Star SMP Project"
**Current Behavior**
 A welcome bot has been configured to usher in contributors new to this project. However, a reminder to star the project is missing in the message.

**Desired Behavior**
 The [config.yml](https://github.com/layer5io/service-mesh-performance/blob/master/.github/config.yml) should be updated, you can take a cue from the highlighted [line 22](https://github.com/layer5io/meshery-c

[2020-08-29 06:40] akashgp09 commented on #107
@PluckyPrecious  Can i work on this issue ?

[2020-08-29 06:44] PluckyPrecious commented on #107
Sure, do go ahead.

[2020-08-29 15:27] akashgp09 commented on #107
@PluckyPrecious I have made a PR for this issue. Can you Please review it.

[2020-08-30 03:02] #107 closed

[2020-08-31 23:22] #102 closed

[2020-09-01 01:41] leecalcote opened #110 "Add Blog Post Author Name to posts.html layout"

[2020-09-01 16:22] Nikhil-Ladha commented on #92
Why was it closed, it has not been solved yet?

[2020-09-01 16:55] chandrashritii opened #111 "[Site] Fix the Contributors section"
**Description**

The logos listed in the [Contributors section](https://smp-spec.io/#contributors) currently occupy two lines.

**Expected Behavior**

They should be adjusted onto the same line, either by adjusting the logo sizes or more preferably by adding a horizontal scroll to the section.

**Screenshots**

![Screenshot_2020-09-01 Service Mesh Performance Specification](https://user-images.git

[2020-09-02 15:01] oyakhilomee commented on #111
Hello @chandrashritii, I'll like to take this up!

[2020-09-02 16:12] Ruth-ikegah commented on #111
Sure go ahead @oyakhilomee

[2020-09-02 19:30] leecalcote commented on #92
@Nikhil-Ladha, we're going to be showing this site around fairly broadly and so I pushed some changes up after our Websites call on Monday. https://smp-spec.io/blog.

The "page" layout needs improvement, but this converts the site from modal to individual page. @Neilblaze and @JubayerJoy are tracking some excellent suggestions on improvements here - https://docs.google.com/document/d/1EnFMGyPbsQ3h

[2020-09-02 20:42] Neilblaze opened #112 "[Site] List the author name and date on the blog posts"
**Description**

In the [blog page](https://smp-spec.io/blog/) of [Service Mesh Performance](https://smp-spec.io/), currently we are missing out author name and date on the blog posts.

**Expected Behavior**

The blog page should contain the respective author name and date on the blog posts. We can use the the style of [Layer5.io/blog](https://layer5.io/blog) for reference :)

![scr1](https://user

[2020-09-03 09:48] leecalcote opened #113 "[Site] Update Blog section subtitle"
**Current Behavior**
Blog section title reads as “learn more about SMP”

**Desired Behavior**
Update the /blog page from “learn more about SMP” to “Learn more about Service Mesh Performance”

[2020-09-03 10:16] #113 closed

[2020-09-03 10:17] leecalcote commented on #112
@Neilblaze many people coming to look at this site. I'm making some quick updates. I added blog author and date to the page layout. The name and date are still missing on the posts_grid.

You can change how this is done in the page layout (or create a layout for posts). We just needed something quick.

[2020-09-03 10:22] leecalcote opened #114 "Change from SMPS to SMP as the package name"
**Description**
Stale references to SMPS are still present in the proto files and package names - https://github.com/layer5io/service-mesh-performance/blob/master/smps.proto#L3

**Expected Behavior**
These should be SMP.

[2020-09-03 10:52] Neilblaze commented on #112
I'm on it :zap:

[2020-09-03 10:52] leecalcote commented on #112
Thank you, sir.

[2020-09-03 11:06] kalradev commented on #114
Great !!
This will get me started with SMP.

[2020-09-03 13:51] Neilblaze commented on #114
@kalradev do you want to take this issue?

[2020-09-04 08:44] kalradev commented on #114
Hey Lee,

I have few questions related to this.

1. Why is generated go files in perf directory when they are specified to be in spec directory in the protos.
2. Are we using prototool in this project. There is a yaml file is it of some use?
3. Are we using the generated code or the proto files in other projects?
4. Do we want the generated package to be named as spec or SMP?

[2020-09-04 09:13] kalradev commented on #114
Protobuf style guide - https://developers.google.com/protocol-buffers/docs/style
Do we want to follow the style guide. Some names need to be changed if we do so.

[2020-09-04 10:37] #112 closed

[2020-09-04 18:08] St80ene commented on #104
I would love to take up this task

[2020-09-04 19:37] chandrashritii commented on #104
Go ahead 👍  @St80ene

[2020-09-05 14:32] oyakhilomee commented on #111
Hello Ruth, I don't think I can do this currently and someone else can possibly do this to avoid me clogging up space.

[2020-09-05 17:58] PluckyPrecious opened #117 "[Docs] Update SMP Contributing Doc"
Add cavaet to contributing doc
CC/ @leecalcote
---
**Contributor Resources**
- [Service Mesh Performance documentation source](https://github.com/layer5io/service-mesh-performance/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/layer5io/service-mesh-performance/blob/master/CONTRIBUTING.md#documentation-contribution-flow)

[2020-09-07 13:55] St80ene opened #120 "[UI]:Spilling of the page on the right side"
**Description**

Not fully responsive on mobile devices
Menu button not fully contained in the navbar on mobile device viewport
**Expected Behavior**

White space observed at the right side of the screen while scrolling on Mobile devices
Menu button on the navbar should adjust properly according to device viewport
**Screenshots**

(https://user-images.githubusercontent.com/51080127/92394228-08a922

[2020-09-07 14:01] Nikhil-Ladha commented on #120
Thank you @St80ene for opening this issue. Would you like to tackle this one?

[2020-09-07 14:11] St80ene commented on #120
I would had loved to but I have very little or zero knowledge of the technologies used on the project. Thanks.

[2020-09-07 15:43] geraldmaboshe commented on #111
Hey @chandrashritii , I am interested in solving this

[2020-09-07 15:46] Nikhil-Ladha commented on #120
Okay, no sweat 👍🏼.

[2020-09-07 15:47] Nikhil-Ladha commented on #120
@Neilblaze or @JubayerJoy this is something you guys might knock of first!

[2020-09-07 16:15] #117 closed

[2020-09-07 16:22] JubayerJoy commented on #111
@geraldmaboshe go for it! All the best to you. 🎈

[2020-09-07 17:00] chandrashritii commented on #111
@geraldmaboshe Thanks for taking this up!
@Neilblaze I remember you were working on this. If you have fixed it already, please do signal here.

[2020-09-07 17:05] Neilblaze commented on #111
Yeah I was thinking to hop into this after fixing the footer section, but if @geraldmaboshe wants to take this, he can surely take this up! :smile:

[2020-09-07 17:08] chandrashritii opened #121 "[Site] Blog section - revamp the footer"
**Description**

Currently, the footer section on the [blog page](https://smp-spec.io/blog/spec/getting-started-with-service-mesh-performance-analysis) of the smp-spec.io site isn't differentiated from the blog content.

**Expected Behavior**

The footer section should be differentiated from the blog content by either making the footer background a different color or adding the option for signing

[2020-09-07 18:04] JubayerJoy commented on #120
Nice catch @St80ene 🚀
@Nikhil-Ladha, this looks like an urgent fix, I've checked on my phones, looks horrible.
Regrettably, I'm preoccupied with an academic project this week, if not fixed by 15 Sept, I'll have a go on this.
Good luck!

[2020-09-07 18:32] JubayerJoy commented on #121
Hi @chandrashritii, I am fixing the footer section (#105), thinking of making the making background-color [222222](https://www.color-hex.com/color/222222) and text color as `aliceblue` (both inspired by meshery.io).

<img src = "https://imgur.com/Xaq8pnW.png">

#### Though this problem should be resolved by footer fix, I strongly recommend adding a newsletter section.

[2020-09-07 18:34] #114 closed

[2020-09-07 18:35] JubayerJoy commented on #111
Hi @Neilblaze, have you started working on #105? I'm working on that as well.

[2020-09-07 18:43] Neilblaze commented on #111
@geraldmaboshe make sure you keep spaces for more room!

@JubayerJoy I'm working on it! But if you have nearly completed it, do let me know.

[2020-09-07 19:10] JubayerJoy commented on #111
@Neilblaze, have done some code changes, far from finalizing. You should go ahead, can't work on this till 15th Sept.
Good luck!

[2020-09-08 13:47] lumenCodes commented on #103
Hey @chandrashritii there is no additional resource for this issue and is there a suggested padding for the sections?

[2020-09-08 19:04] leecalcote commented on #32
@kalradev an opportunity to incorporate https://buf.build?

[2020-09-09 10:51] kalradev commented on #32
Yes, I think we should use buf. Here is a comparison between the two.
https://buf.build/docs/migration-prototool
Infact I was reading prototool documentation and in that they are recommending to checkout buf.

[2020-09-09 10:53] kushthedude commented on #32
Buf is still in development, it is indeed great but I dont want to use any
new tool which has a long way to go for it's 1.0 release.

On Wed, 9 Sep, 2020, 16:21 Dev Kalra, <notifications@github.com> wrote:

[2020-09-10 17:44] Neilblaze commented on #110
Closed by commit [2c17b1661ded4c964982ba82f5b0a2aceef78790](https://github.com/layer5io/service-mesh-performance/commit/2c17b1661ded4c964982ba82f5b0a2aceef78790#diff-58650316dd68be12902d5ec1b8a4b4b6)

[2020-09-10 17:44] #110 closed

[2020-09-11 16:08] chandrashritii commented on #121
Adding a newsletter would be a good idea here @JubayerJoy. Highlighting a few issues with the footer here:
- There is too much empty space.
- The social icons should be larger in size
- The text "Copyright ..." should be larger in size.

Adding a condensed version of the newsletter would definitely make it look better. @Nikhil-Ladha, @Neilblaze, @leecalcote , @Jashpatel1 Any suggestions?

[2020-09-11 16:09] chandrashritii commented on #104
@St80ene Thank you for taking this on! Let me know if you need any help 🎈

[2020-09-11 16:12] chandrashritii commented on #103
@lumenCodes There is no suggested padding as such. You will have to experiment a bit here and see what looks most appropriate. I'm not sure what you mean by additional resources. Please do let me know and I'll help you out in any way I can 🎈

[2020-09-11 16:19] Jashpatel1 commented on #121
Can you try keeping all the icons in a single line and the copyright text in the next line?

[2020-09-11 16:25] Favalcodes commented on #120
Can I take this?

[2020-09-11 16:27] Ruth-ikegah commented on #120
Sure go ahead @Favalcodes

[2020-09-11 16:29] Favalcodes commented on #120
Alright, thanks

[2020-09-11 17:58] JubayerJoy commented on #105
@Neilblaze is working on this so assigning it to him 🚀

[2020-09-11 18:13] JubayerJoy commented on #121
The footer section (#105) is undergoing a **complete** redesign by @Neilblaze. None of it will remain the same, i.e. `social`, `copyright`.
My point was as I was going to change the **background color** to [222222](https://www.color-hex.com/color/222222), which should have eliminated this issue, but as Neil is working on this instead, he might have a different view.

Also, It would be nicer if we

[2020-09-12 00:42] KarenEfereyan commented on #121
Is this issue still open? @lolyparty if it is look out for it

[2020-09-12 00:45] lolyparty commented on #121
Thanks @KarenEfereyan, I think @JubayerJoy is on it

[2020-09-12 01:34] KarenEfereyan commented on #121
Ill be on the lookout for more issues

[2020-09-12 04:07] JubayerJoy commented on #121
Hi @KarenEfereyan!
Feel free to dive in, this issue is still open, I think no one is working on it. Thank you for your interest!

Get in touch with @Neilblaze, he is redesigning the footer section of the site (#105). To reuse color scheme and patterns he is using, collaboration is required.

@chandrashritii give Karen some pointers on this.

Cheers. :ballon:

[2020-09-12 04:09] KarenEfereyan commented on #121
Thanks so much @JubayerJoy but @lolyparty would want to work on it

[2020-09-12 04:13] JubayerJoy commented on #121
@KarenEfereyan, sure!
Good luck @lolyparty.

[2020-09-12 12:23] lolyparty commented on #121
Thank you @KarenEfereyan @JubayerJoy. I really appreciate.
@chandrashritii I'd be working on this together with @Neilblaze

[2020-09-12 13:52] Neilblaze commented on #121
Feel free to ping me on slack :) @lolyparty

[2020-09-12 14:52] chandrashritii commented on #121
That's great @lolyparty. Go ahead 👍  Please do make sure you collaborate with @Neilblaze on the color scheme.

[2020-09-12 15:05] lolyparty commented on #121
Sure

[2020-09-13 13:05] shubhamgupta2956 commented on #103
Hello everyone. Is this issue fixed as I can not see any extra padding in the [website](https://smp-spec.io/)

![2020-09-13_18-33-47-](https://user-images.githubusercontent.com/43504292/93018767-c9367680-f5ef-11ea-862b-779ebfd2e913.png)

[2020-09-13 13:34] Neilblaze commented on #103
@shubhamgupta2956 yup it has been fixed with #122

[2020-09-13 13:34] #103 closed

[2020-09-13 13:38] Neilblaze commented on #92
Closed via commit [ef5882d71dd6f661f4dca06d639390592c0475fe](https://github.com/layer5io/service-mesh-performance/commit/ef5882d71dd6f661f4dca06d639390592c0475fe)

[2020-09-13 13:38] #92 closed

[2020-09-15 16:14] JubayerJoy opened #126 "[Site] Drop "Specification" in meta property "og:title""
**Description**

Smp-spec.io project has dropped `specification` a long time ago. But in `head` section `<meta name="title" property="og:title" content="Service Mesh Performance Specification">`  is still there.
**Expected Behavior**

Change the tag to `<meta name="title" property="og:title" content="Service Mesh Performance">`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to smp-specs.

[2020-09-15 16:36] eliteReaper commented on #126
Hello, could I be assigned this issue ?

[2020-09-15 19:16] #126 closed

[2020-09-23 21:09] Neilblaze commented on #104
Closed by #122

[2020-09-23 21:09] #104 closed

[2020-09-24 16:32] leecalcote opened #129 "[Docs] Remove Google Logo from smp-spec.io"
**Current State:**
While individual Googler's have collaborated on SMP, Google as an entity has not publicly partnered / is not necessarily endorsing SMP currently.

**Desired State:**
Google's logo should not be present on the smp-spec.io site.

---
**Contributor Resources**
- [Service Mesh Performance documentation source](https://github.com/layer5io/service-mesh-performance/tree/master/docs)
-

[2020-09-24 18:37] geraldmaboshe commented on #129
@leecalcote  though it's already assigned to @Neilblaze but can I take it up?

[2020-09-24 18:38] leecalcote commented on #129
@geraldmaboshe that would be great, yes.

[2020-09-24 19:27] #129 closed

[2020-09-24 19:31] #111 closed

[2020-09-24 21:52] Favalcodes commented on #120
Sorry, I couldn't sort this issue out, My system has an issue as of now, Please can this issue be assigned to someone else, sorry for the inconveniencies.

[2020-09-25 02:00] leecalcote commented on #120
No problem, @Favalcodes. Completely understood. 👌

[2020-09-25 02:21] JubayerJoy commented on #120
I'll try to solve this. Should be an easy fix. 🤞

[2020-09-25 10:16] leecalcote commented on #120
Thank you @JubayerJoy

[2020-09-25 14:41] #105 closed

[2020-09-26 07:10] Neilblaze commented on #121
Closed with #134

[2020-09-26 07:10] #121 closed

[2020-09-28 17:36] JubayerJoy commented on #120
**Update:** I have found the cause of this error. Working on it. 👍

[2020-09-29 07:21] Neilblaze opened #136 "Enhance the Resources section"
**Current Behavior**

Currently the [resources](https://smp-spec.io/#engage) section lack important links that are present in the footer section. The upgrade will include most of the important links to be populated in the resources section.

Also,
- Include responsiveness for the above upgrade for making the viewport compatible across all devices.
- Follow [Layer5 brand](https://layer5.io/brand) c

[2020-09-29 12:56] #136 closed

[2020-09-29 13:04] leecalcote opened #138 "[Site] Create a difference in color on either side of the blog posts"
**Current Behavior**
A lack of formatting on the individual blog pages has them not looking as much like articles as they could be.

**Desired Behavior**
Add color to the left and right margins or some other styling to the blog post page layout to offset the text from the page.

**Screenshot**
<img width="1537" alt="Screen Shot 2020-09-29 at 8 04 40 AM" src="https://user-images.githubusercontent.c

[2020-09-29 13:25] Aniruddha-Shriwant commented on #138
Hey @leecalcote , well not so sure that I can solve this at all :|
but I will like to try to do it :)

[2020-09-29 13:47] Neilblaze commented on #138
@Aniruddha-Shriwant Sure! Go for it. :+1:

[2020-09-30 18:42] #120 closed

[2020-10-01 06:26] Aniruddha-Shriwant commented on #138
Well sorry for late, I was getting some errors in setting up the dev environment on Windows,
I'm currently working to resolve the errors occurring at setup :)

[2020-10-01 06:26] Neilblaze opened #141 "Fix the footer alignment for mobile view"
**Current Behavior** :-

Currently the footer section of the [SMP site](https://smp-spec.io/) is not optimized for mobile view. Most of the descriptive texts and icons are aligned to right.

**Screenshot** :-

![recording](https://user-images.githubusercontent.com/48355572/94775143-e84d4a80-03dc-11eb-9a58-82f503b4cbbd.gif)

**Required Changes**

- Optimize this for mobile view.

[2020-10-01 06:39] Neilblaze commented on #138
No issues, take your time! :smile:

[2020-10-01 06:44] Aniruddha-Shriwant commented on #138
Thanks a lot! :-)

[2020-10-01 07:58] pythonphoenix commented on #138
I will get back to you in 4 hours time

[2020-10-01 08:18] manishkrjha commented on #141
I'd like to take this up.

[2020-10-01 08:31] NidhiTater commented on #138
I am working on it.  A shade of the header color seems good ?

[2020-10-01 08:41] Nikhil-Ladha commented on #138
@NidhiTater good of you to have your interest here. But, this issue is already assigned to someone. You can take a peak into other issues and comment there, I will assign you one.

[2020-10-01 08:42] Nikhil-Ladha commented on #141
Go ahead @manishkrjha 🔥

[2020-10-01 09:05] NidhiTater-Argil commented on #138
Sure, please update the assignee name, otherwise others might look into this too.

[2020-10-01 09:19] Nikhil-Ladha commented on #138
Assignee name is already updated. It is assigned to @Aniruddha-Shriwant . Check again😅

[2020-10-01 09:51] Aniruddha-Shriwant commented on #138
Hey, I'm done with my setup!

Sorry for time consumed :(
Will start working on this issue now :)

[2020-10-01 16:11] Nikhil-Ladha commented on #141
@Neilblaze ^^

[2020-10-01 16:13] manishkrjha commented on #141
Also, I did try adding margins through inspecting element.

![Screenshot (282)](https://user-images.githubusercontent.com/51622948/94835181-fc219c80-042e-11eb-8986-6bcffe5d4a04.png)

![Screenshot (284)](https://user-images.githubusercontent.com/51622948/94835191-00e65080-042f-11eb-9505-68b6535319ff.png)

Is this **okay** ?

[2020-10-01 17:21] Neilblaze commented on #141
@manishkrjha here you go - https://github.com/layer5io/service-mesh-performance/blob/master/docs/_includes/footer.html

[2020-10-03 17:08] leecalcote opened #143 "Add Nginx Service Mesh to service mesh proto file"
**Current Behavior**
NGINX Service Mesh (NSM) has recently been released.

**Desired Behavior**
This service mesh should be added to the SMP specifications' proto file - https://github.com/layer5io/service-mesh-performance/blob/63cb8b46b9ea05ceebc3a2d39adf3f6d391385e6/protos/service_mesh.proto#L27 - as 11.

[2020-10-03 17:59] #32 closed

[2020-10-03 17:59] #44 closed

[2020-10-03 17:59] #46 closed

[2020-10-07 15:12] Neilblaze commented on #141
@manishkrjha are you still on it?

[2020-10-08 21:55] #141 closed

[2020-10-11 18:55] lumenCodes commented on #143
@leecalcote  I am interested in this.

[2020-10-11 19:19] Nikhil-Ladha commented on #143
Sure @lumenCodes ! Go ahead for it!

[2020-10-11 19:21] lumenCodes commented on #143
Oh thanks

[2020-10-13 03:17] #143 closed

[2020-10-23 01:58] leecalcote opened #146 "[Site] Add KubeCon EU Talk and Video"
**Current Behavior**
The "Discreetly Studying the Effects of Individual Traffic Control Functions" talk from KubeCon EU 2020 explains SMP.

**Desired Behavior**
This talk's video and slides should be on the [smp-spec.io](https://smp-spec.io) site.

- video: https://layer5.io/projects/service-mesh-performance
- slides: https://calcotestudios.com/talks/decks/slides-kubecon-eu-2020-discreetly-studyin

[2020-10-23 08:25] L-crypt commented on #146
Hey! I am a first timer ,can I contribute to this issue if possible? Thanks in advance.

[2020-10-23 08:34] leecalcote commented on #146
Hi @L-crypt, that sounds great. Thank you.

[2020-10-23 09:19] L-crypt commented on #146
Can I please get some clue or some reference over it? I am not able to proceed.

[2020-10-23 09:29] L-crypt commented on #138
Can I try this issue?? thanks in advance.

[2020-10-23 09:36] Nikhil-Ladha commented on #138
Yeah sure @L-crypt 👍🏼

[2020-10-28 18:31] dDab-panda commented on #146
Hey, I would like to try this issue out

[2020-11-01 18:30] kushthedude opened #147 "[Spec] Spec is broken due to stubs not updated with proto changes"
There had been recent changes in proto file for which stubs had not been generated which has resulted in broken SMP spec.

[2020-11-01 23:46] leecalcote commented on #147
Good catch!

[2020-11-01 23:46] #147 closed

[2020-11-02 13:05] JubayerJoy commented on #146
@dDab-panda, sure, go ahead.

[2020-11-02 17:41] kushthedude opened #149 "Update makefile to leverage prototool"
**Description**

Our makefile is outdated and has incorrect commands.

**Expected Behavior**

Update makefile to leverage prototool

[2020-11-02 19:57] leecalcote commented on #146
@L-crypt my apologies. I'm just now seeing your note. Here are the contribution steps - https://github.com/layer5io/service-mesh-performance/blob/master/CONTRIBUTING.md#documentation-contribution-flow. There are many other open [help-wanted](https://github.com/issues?utf8=✓&q=is%3Aopen+is%3Aissue+archived%3Afalse+org%3Alayer5io+label%3A%22help+wanted%22+) issues like this across the layer5io org t

[2020-11-02 22:02] leecalcote opened #150 "Integrate service_mesh.proto with Meshery UI performance test for service mesh names"
**Current Behavior**
The performance test page in Meshery has a static list of service mesh names.

**Desired Behavior**
The list of service mesh names in Meshery's UI can be sourced from SMP instead of being statically encoded.

---
**Screenshot**
<img width="1381" alt="Screen Shot 2020-11-02 at 4 00 07 PM" src="https://user-images.githubusercontent.com/7570704/97924112-bead7900-1d24-11eb-8d65-88

[2020-11-03 12:38] utkarsh-pro commented on #150
@leecalcote I checked this out and there are already service mesh enums defined in the `.proto` files here. So we can already get the names of the service meshes on the [meshery server](https://github.com/layer5io/meshery) from SMP in the following way:
[code]
It will generate the service mesh names like
[code]

From what I understood, we need to create an endpoint on [meshery server](https://gith

[2020-11-03 12:58] leecalcote commented on #150
Thank you, @utkarsh-pro. My apologies - I meant to indicate that SMP will be the source of truth for the list of service meshes and that Meshery will ingest this list by importing the proto defined here.

[2020-11-03 14:45] #146 closed

[2020-11-06 17:35] #150 closed

[2020-11-07 13:58] navendu-pottekkat commented on #138
@leecalcote @Nikhil-Ladha I have a suggestion and that is to wrap the blog post into a card and add a nice shadow.

It would look like this as shown below:

![Screenshot from 2020-11-07 19-27-21](https://user-images.githubusercontent.com/49474499/98443125-53eaac00-212f-11eb-9729-1b140d2114e5.png)

I think this is the best and easiest fix and it looks good too. I will make a PR if you assign it to

[2020-11-07 14:03] Nikhil-Ladha commented on #138
Hmm, yeah seems better than the current one at least.

[2020-11-07 14:04] navendu-pottekkat commented on #138
I will make a PR.

[2020-11-09 07:52] #138 closed

[2020-11-13 00:00] leecalcote opened #153 "[Site] Insert comma into thousandths place for number of tests run"
**Current Behavior**
Just like the https://layer5.io/meshery site has the number of performance tests run with a comma inserted into the thousandths place, so too should the perf test number on the smp-spec site have a comma.

<img width="641" alt="Screen Shot 2020-11-18 at 9 22 21 AM" src="https://user-images.githubusercontent.com/7570704/99557058-dec97300-2987-11eb-94df-d5001f319135.png">

<img

[2020-11-18 13:52] leecalcote opened #154 "Add Connection Reuse Strategy to PerformanceTestConfig"
**Current Behavior**
-

**Desired Behavior**

---
**Resources**

**Alternatives / Additional Context**

[2020-11-18 14:31] leecalcote opened #155 "Consider accounting for Traffic Profile"
**Current Behavior**
This would include the qps at a point in time.

(as opposed to traffic capture)

**Desired Behavior**

---
**Resources**

**Alternatives / Additional Context**

[2020-11-18 14:33] leecalcote opened #156 "Consider for characterizing traffic for test config AND for capture"
**Current Behavior**

**Desired Behavior**

---
**Resources**

**Alternatives / Additional Context**

[2020-12-07 16:11] leecalcote commented on #153
@jomefavourite interested?

[2020-12-07 17:17] jomefavourite commented on #153
Yh, I am

[2020-12-08 01:57] #153 closed

[2020-12-22 19:45] leecalcote opened #159 "Maesh project rename"
**Description**
Maesh updated needed - https://github.com/layer5io/service-mesh-performance/blob/master/protos/service_mesh.proto#L22

[2020-12-22 19:45] leecalcote commented on #159
Yo, @pjzzz!

[2020-12-23 20:50] #159 closed

[2021-02-05 05:25] leecalcote opened #163 "Create GitHub Issue Template for Site Updates"
**Current Behavior**
This repo contains a website. This repo should have an issue template for Site Updates in here https://github.com/layer5io/service-mesh-performance/tree/master/.github/ISSUE_TEMPLATE.

**Desired Behavior**
Copy the [site_update.md](https://github.com/layer5io/meshery.io/tree/master/.github/ISSUE_TEMPLATE) GitHub issue template from the `layer5io/meshery.io` repo to make a new

[2021-02-05 14:27] #49 closed

[2021-02-09 13:56] #163 closed

[2021-03-18 15:51] leecalcote opened #166 "[Site] Add Intel logo to contributors section of website"
**Current Behavior**
Individuals at Intel have joined the Service Mesh Performance initiative.

**Desired Behavior**
Intel's participation should be represented in the Contributors section of the website.

[2021-03-18 15:53] leecalcote opened #167 "[Site] Refresh recording of example implementation to include performance profiles"
**Current State:**
The canonical implementation of SMP in Meshery has advanced since the time that this animated gif was made. Performance profiles are now used.

**Desired State:**
The animated gif should reflect functionality of the latest implementation.

---
**Contributor Resources**
- [Service Mesh Performance documentation source](https://github.com/layer5io/service-mesh-performance/tree/mas

[2021-03-18 16:39] leecalcote opened #168 "[Site] News: KubeCon+CloudNativeCon Service Mesh Battle Stories and Fixes"
**Current State:**
SMP is in the news article: "KubeCon+CloudNativeCon Service Mesh Battle Stories and Fixes" - https://thenewstack.io/kubeconcloudnativecon-service-mesh-battle-stories-and-fixes/

**Desired State:**
This news article should be added as a blog entry.

Example entry: https://layer5.io/company/news/kubeconcloudnativecon

---
**Contributor Resources**
- [Service Mesh Performance docum

[2021-03-18 16:40] leecalcote opened #169 "[Site] News: Service Mesh Offers Promising Solution for Cloud Native Networking"
**Current State:**
SMP is in the news article: "Service Mesh Offers Promising Solution for Cloud Native Networking" - http://www.enterprisenetworkingplanet.com/datacenter/datacenter-blog/service-mesh-cloud-native-networking.html

**Desired State:**
This news article should be added as a blog entry.

Example entry: https://layer5.io/company/news/service-mesh-offers-promising-solution-for-cloud-nati

[2021-03-18 16:42] leecalcote opened #170 "[Site] Add SolarWinds Logo"
**Current Behavior**
Individuals at SolarWinds have contributed the Service Mesh Performance initiative.

**Desired Behavior**
SolarWinds' participation should be represented in the Contributors section of the website.

Find a copy of the SolarWinds logo on the https://meshery.io site.

---
**Contributor Resources**
- [Service Mesh Performance documentation source](https://github.com/layer5io/serv

[2021-03-18 17:05] leecalcote opened #171 "[Site] Add Fiserv logo to contributors section of website"
**Current Behavior**
@kenowens12 of Fiserv has long supported and contributed to the Service Mesh Performance initiative.

**Desired Behavior**
Fiserv's support and participation should be represented in the Contributors section of the website.

This logo may be used - https://upload.wikimedia.org/wikipedia/commons/8/89/Fiserv_logo.svg

---
**Contributor Resources**
- [Service Mesh Performance doc

[2021-03-18 17:38] #169 closed

[2021-03-18 19:43] #168 closed

[2021-03-19 00:23] leecalcote commented on #171
Hi @laurencun, I'll highlight this issue in case its of interest, too.

[2021-03-19 00:23] leecalcote commented on #170
@PluckyPrecious @Ruth-ikegah @Abiola-Farounbi @Anita-ihuman .... any takers here?

[2021-03-19 05:27] PluckyPrecious commented on #170
Sure.👍🏽

[2021-03-19 08:12] BondaSaim commented on #171
Hello @leecalcote,
I would love to work on this,
Could you assign me to this issue ?

[2021-03-19 13:31] leecalcote commented on #171
That be great, @BondaSaim

[2021-03-20 08:26] BondaSaim commented on #171
Hello @leecalcote,
I have completed the task,
Could you kindly review it ?

[2021-03-20 09:52] BondaSaim commented on #171
I have completed the task sir,
Could you please review it

[2021-03-20 10:51] #171 closed

[2021-03-20 11:00] BondaSaim commented on #166
May I have this task @leecalcote ?

[2021-03-21 04:13] #167 closed

[2021-03-21 19:12] leecalcote commented on #166
@BondaSaim Thank you for volunteering. Yes.

[2021-04-01 17:34] leecalcote commented on #170
Opening back up for assignment (feel free to grab this one again, @PluckyPrecious, if you've time).

[2021-04-01 17:39] xdshivani commented on #170
Assign this to me

[2021-04-01 17:47] leecalcote commented on #170
Thank you, @xdshivani. 👍

[2021-04-03 14:57] xdshivani commented on #170
Help me installing meshery.io in my system `windows10` environment. As am getting error while installing
![code](https://user-images.githubusercontent.com/56837749/113481299-5f5fba80-94b6-11eb-836d-b5e0b5566f51.PNG)

[2021-04-03 15:14] leecalcote commented on #170
Contributors within the Layer5 community I have created a few resources for Windows users and Jekyll. I encourage you to in the community - http://slack.layer5.io - and inquire inside. More info- https://layer5.io/community

[2021-04-03 15:16] leecalcote commented on #170
@PluckyPrecious @Anita-ihuman @Ruth-ikegah I wonder if we have these instructions centralized.

[2021-04-03 16:39] PluckyPrecious commented on #170
Hello @xdshivani you can find instruction [here](https://github.com/layer5io/service-mesh-performance/blob/master/CONTRIBUTING.md#set-up-your-development-environment) on how to run Jekyll on windows

[2021-04-03 18:05] Anita-ihuman commented on #170
This information is in the Newcomers doc

https://docs.google.com/document/u/0/d/1aHarIyIL__HRq_4klYOUsEXP5SQLlmb50W17yKdNmpU/mobilebasic

[2021-04-10 05:15] navendu-pottekkat opened #184 "GitHub Action to run SMP performance tests"
**Current Behavior**
Meshery provides a general purpose implementation of Service Mesh Performance (SMP). Performance tests can be invoked from either of Meshery's two clients: the UI or CLI.

`mesheryctl perf` command runs SMP-compatible performance tests.

**Desired Behavior**

A GitHub Action/Workflow should be created that leverages this command to run performance tests, so that users and serv

[2021-04-13 18:07] leecalcote commented on #184
@ramrodo this would be fantastic to have as it will facilitate each service mesh project team to incorporate Meshery and its compliance tests into their CI system (assuming GitHub in this case).

[2021-05-04 04:16] theprogrammedwords commented on #170
Is there any update on this? @xdshivani , or do you need some help ?

[2021-05-06 22:18] Anita-ihuman opened #186 "[README] Update README Community Section"
**Description**
The Community section in the README says "Access the Community Drive". There is a new procedure of having this automated based on the individual filling in a [community member form](https://layer5.io/newcomer)

**Expected Behavior**
Update "Access Community Drive" to "To Access Community Drive, fill Community Member Form"

**Screenshots**
![img](https://user-images.githubuserconten

[2021-05-08 14:29] Chadha93 commented on #186
Hi,
@Anita-ihuman  I would I to work on this, Could you please assign me?

[2021-05-08 15:38] Anita-ihuman commented on #186
Sure, Go ahead.

[2021-05-08 16:29] Chadha93 commented on #186
@Anita-ihuman Issue resolved, thanks for assigning.

[2021-05-09 14:46] #186 closed

[2021-06-17 15:58] amino19 opened #192 "[README] Need to fix badges"
**Description**

<a href="https://github.com/layer5io/service-mesh-performance/blob/master/README.md">README.md</a> is the first file one should read when starting a new project. For attractive look, we added some badges also.
But, there's a Slack badge failing, need to fix that. Plus, Align all the badges to `center`.

### Screenshot

**Current Behavior**

![image](https://user-images.githubuserc

[2021-06-18 22:39] leecalcote opened #194 "[Site] Add SMP Project Presentation Overview Deck"
**Current State of the service-mesh-performance site**
The site is missing the project overview deck.

**Desired State of the service-mesh-performance site**
Similar as to how the Meshery overview deck is embedded into the https://meshery.io site, [the SMP overview deck](https://docs.google.com/presentation/d/1fm7Eu1T3JSBPVmdFYyyevqQLSmAMLXqzWqC7QxTHGX8/edit?usp=sharing) should be embedded underne

[2021-06-20 07:15] chetak123 commented on #194
can I take this issue please ?

[2021-06-21 08:35] mindninjaX commented on #192
@amino19 I can fix this issue. I would like to work on it.

[2021-06-21 17:43] #192 closed

[2021-06-25 14:42] amino19 opened #197 "[README] Need to add `Community Forum`"
**Description**

<a href="https://github.com/layer5io/service-mesh-performance/blob/master/README.md">README.md</a> is the first file one should read when starting a new project. Our community launched `Discussion forum` for help seekers; needs to publish it officially on README.md for convenience.

### Screenshots

**Current behaviour:**
![image](https://user-images.githubusercontent.com/75872316

[2021-06-26 05:52] navendu-pottekkat opened #198 "Add CNCF logo to smp-spec.io homepage"
**Desired State of the service-mesh-performance site**
Service Mesh Performance is now a CNCF project.

There should be a section in the [smp-spec.io](https://smp-spec.io/) home page that shows this.

Resources-

[cncf-horizontal-color.svg](https://github.com/cncf/artwork/blob/master/other/cncf/horizontal/color/cncf-color.svg)

Title of the section: "Service Mesh Performance is a Cloud Native Comp

[2021-06-26 05:52] navendu-pottekkat commented on #198
@leecalcote please make any changes if necessary.

[2021-06-27 15:00] navendu-pottekkat opened #199 "Update copyright information in the footer"
**Current State of the service-mesh-performance site**
The footer of the website says "© 2021 Layer5, Inc." -

![Screenshot_20210627_202928](https://user-images.githubusercontent.com/49474499/123549376-6715bf00-d786-11eb-93d0-531ccce5c3e9.png)

**Desired State of the service-mesh-performance site**
Instead it should say "© 2021 The Service Mesh Performance Authors"

[2021-06-28 14:40] #197 closed

[2021-06-28 14:42] leecalcote commented on #198
Ready for implementation. ✔️

[2021-06-28 14:47] navendu-pottekkat commented on #198
@alphaX86 You might also want to take this up

[2021-06-28 14:48] alphaX86 commented on #198
Copy that! Will fix when the meshery.io one is updated

[2021-06-28 16:59] #194 closed

[2021-06-28 17:00] #199 closed

[2021-06-28 18:36] leecalcote opened #204 "[Chore] Move repo to new org"
**Description**
SMP is being adopted into the CNCF. It is time to move the SMP repo to its own GitHub org: https://github.com/service-mesh-performance

[2021-06-28 18:37] #198 closed

[2021-06-29 20:29] leecalcote opened #205 "[Site] Mailing Lists: Add mailing list sign up to site"
**Current State of the service-mesh-performance site**
SMP's mailing list and newsletter is not publicly available.

**Desired State of the service-mesh-performance site**
Similar to the Meshery site, the smp-spec.io site should have a newsletter sign-up and  the following mailing lists:

 - community@smp-spec.io - a form-based sign-up; open for anyone to signup for news / update on the project an

[2021-06-29 20:30] leecalcote commented on #205
@Neilblaze or @NikhilSharma03, would either of you like to take this one?

[2021-06-30 05:57] NikhilSharma03 commented on #205
@leecalcote Just to get a clear understanding of the issue:
The desired output should be something like.
## Newsletter sign up

The current page has this signup form

![Screenshot from 2021-06-30 11-24-19](https://user-images.githubusercontent.com/58226527/123909002-0957c180-d996-11eb-8b4e-63b0d6399fc7.png)

## Mailing List

As in the meshery
![Screenshot from 2021-06-30 11-19-18](https://user-ima

[2021-07-01 01:46] Aisuko opened #206 "[CI] Slack process is not work well"
**Description**

Is there anyone can help to confirm the CI pipeline of Slack can work well?

https://github.com/service-mesh-performance/service-mesh-performance/actions/runs/988410331

**Expected Behavior**

**Screenshots**

**Environment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Safari]
 - Version: [e.g. 22]
 - Device: [e.g. laptop, iPhone 8]

---
[Optional] **To Reproduce**
Steps to re

[2021-07-01 02:13] Aisuko commented on #206
We can setting the `ACTIONS_ALLOW_UNSECURE_COMMANDS` environment variable to `true` first.

[2021-07-01 03:30] #206 closed

[2021-07-01 22:31] Anita-ihuman opened #208 "[CI]Create a new label with called issue/invite"
#### Current Behavior
There is no label that  automatically sends out Invite to the Github Org

#### Desired Behavior
An action for the label `issue/invite` should be created to help us automatically send out Invite to the Github Org.

#### Screenshot of the issue
![Screenshot 2021-07-01 at 23 21 33](https://user-images.githubusercontent.com/62384659/124196120-ab28fc80-dac3-11eb-99da-b64f04cae1ee.

[2021-07-07 20:02] leecalcote commented on #205
@NikhilSharma03 close. user-group@smp-spec.io - should be a link to the google group;

[2021-07-08 22:36] ramrodo commented on #184
@navendu-pottekkat could you assign this issue to @s1ntaxe770r, I don't know why I can not do it.

[2021-07-09 04:57] leecalcote commented on #184
When the action is ready, a workflow that uses it can be built into each Meshery Adapter repo.

[2021-07-09 06:32] DelusionalOptimist commented on #184
Yes, very soon : )

[2021-07-18 07:18] iamsdas commented on #208
Can I take up this issue?

[2021-07-19 12:38] Anita-ihuman commented on #208
Yes, please go on

[2021-07-19 12:38] Anita-ihuman commented on #208
Sorry, this issue, has already been fixed.

[2021-07-22 15:20] warunicorn19 opened #213 "Slides on SMP website not mobile friendly"
**Description**
At a certain screen size the slides on the SMP website get cut off. Also the logo of CNCF is not mobile friendly

**Expected Behavior**
both should be friendly in every screen size

**Screenshots**
![CF7FE353-407F-4C63-94B3-1A72D3969192_1_105_c](https://user-images.githubusercontent.com/53532328/126664463-898accd2-d886-43a7-8882-0808a0b6526a.jpeg)

**Environment:**
 - OS: MacOS
 -

[2021-07-22 19:18] warunicorn19 opened #214 "Footer not mobile friendly"
**Description**
The footer on the SMP website is not mobile friendly.

**Expected Behavior**
At a certain screen size the text in the footer gets overlapped with the logo.

**Environment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Safari]
 - Version: [e.g. 22]
 - Device: [e.g. laptop, iPhone 8]

[2021-07-22 19:22] debo19 commented on #214
@warunicorn19  Can I work on this?

[2021-07-22 19:23] warunicorn19 commented on #214
yup! @debo19

[2021-07-23 12:53] NikhilSharma03 opened #217 "[Site] Responsive Issues in CN Section"
**Description**
- The Cloud Native section is not responsive for smaller screens.

**Expected Behavior**
- Fix the responsiveness of the CN section.

**Screenshots**
![Screenshot from 2021-07-23 18-19-47](https://user-images.githubusercontent.com/58226527/126784191-214cf174-a5d2-4f68-b414-6cb9877c3162.png)

**Environment:**
 - OS: [Ubuntu]
 - Browser: [Chrome]

[2021-07-23 12:54] NikhilSharma03 commented on #217
## Note
- I would love to work on this issue.

[2021-07-23 13:06] sayantan1413 commented on #217
Great @NikhilSharma03 🎉

[2021-07-23 14:22] warunicorn19 commented on #217
hey @NikhilSharma03 my recent PR fixes this issue.

[2021-07-23 14:25] NikhilSharma03 commented on #217
Awesome. I will close this issue then.

[2021-07-23 14:26] #217 closed

[2021-07-23 16:06] Anita-ihuman opened #218 "Make the Layer5 a clickable link"
**Description**
Currently, Layer5 logo in this section is not a clickable link.

**Expected Behavior**
Add a link to the Layer5 logo directing to the Layer5.io website

**Screenshots**
![Screenshot 2021-07-23 at 12 00 19](https://user-images.githubusercontent.com/62384659/126809459-3bb3e671-2c00-461f-a140-81de5b9ba09f.png)

**Environment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Safari]
 -

[2021-07-23 16:08] warunicorn19 commented on #218
hey @Anita-ihuman , i already fixed this in my recent PR

[2021-07-23 16:30] kumarshobhit commented on #218
Can I work on this issue @warunicorn19 if you have not merged your changes yet?

[2021-07-23 16:39] warunicorn19 commented on #218
@kumarshobhit that'll cause a conflict, since its already a part of an existing PR waiting to get merged, why dont you take a look at some other existing issues?

[2021-07-23 16:47] kumarshobhit commented on #218
This issue was beginner-friendly so I thought it will be a good one to start contributing to the project. But yeah, I will surely look at other issues to solve.

[2021-07-23 16:54] Anita-ihuman commented on #218
@kumarshobhit, apologies for the confusion.
It’s fine, there will be other friendly issues coming up.

[2021-07-23 16:54] #218 closed

[2021-07-23 17:13] kumarshobhit commented on #218
yes noted.

[2021-07-26 13:24] #213 closed

[2021-07-27 09:52] #214 closed

[2021-07-31 16:09] leecalcote opened #220 "Complete CII Best Practices"
**Current Behavior**
SMP's CII Best Practices is incomplete - https://bestpractices.coreinfrastructure.org/en/projects/5054#reporting

**Desired Behavior**
Achieve 100% Passing for CII Best Practices

---
**Resources**

**Alternatives / Additional Context**

[2021-08-04 04:48] Jashpatel1 commented on #170
@xdshivani Any updates here?

[2021-08-04 21:22] navendu-pottekkat opened #221 "[Site] Add reference to SMP Community Group"
**Current State of the service-mesh-performance site**
SMP has a new [Community Group](https://community.cncf.io/service-mesh-performance-community/) in Cloud Native Community Groups.

**Desired State of the service-mesh-performance site**
A reference to join this group should be added to the SMP website.

Community Group URL: https://community.cncf.io/service-mesh-performance-community/

[2021-08-04 21:25] pottekkat opened #222 "Review and Changes to SMP protos"
**Desired Behavior**

The SMP protos needs to be reviewed and changes needed if any is to be suggested.

[2021-08-04 21:27] navendu-pottekkat opened #223 "IEEE Bridge article for SMP"
**Desired Behavior**

A draft of the article for IEEE Bridge needs to be delivered. [Link to abstract](https://docs.google.com/document/d/1tv3VFzn1fVKLwGPUnKs6I6zp-ZTYpOxy1BeC-3ivzeU/edit#heading=h.96avnrd4ywp2).

[2021-08-11 09:26] soham4abc commented on #221
I would like to work on this issue! Where do you want me to put the reference of the community group?

[2021-08-11 09:52] navendu-pottekkat commented on #221
Sure @soham4abc , I had added reference to the meeting to the website. But that was a quick fix. Maybe we can change it up a bit. @leecalcote could you suggest changes to the current website?

[2021-08-11 09:54] soham4abc commented on #221
Once he suggests I should start working on it!

[2021-08-11 09:55] navendu-pottekkat commented on #221
Sure, thank you. You can check if you can find a better place to add the meeting details. It is here now:

![Screenshot 2021-08-11 at 3 25 33 PM](https://user-images.githubusercontent.com/49474499/129009429-c3aaad90-2513-4dba-be15-ee15c2394b75.png)

[2021-08-11 10:00] soham4abc commented on #221
URL to the site would be very helpful

[2021-08-12 19:05] leecalcote opened #226 "Consider support additional CPU details"
**Current Behavior**
The SMP protos capture number of mcores for different components in your environment, but does not capture the type of CPU architecture of those cores.

**Desired Behavior**
Support the following additional details about the CPUs:

1. capture CPU arch type
1. capture socket
1. physical core vs  hyperthreaded core

---
**Resources**

**Alternatives / Additional Context**

[2021-08-18 21:14] leecalcote commented on #223
First draft completed and submitted for review.

[2021-08-18 21:16] leecalcote opened #227 "Definition of MeshMark"
### Description:

Create MeshMark provides a universal performance index to gauge your mesh’s efficiency against deployments in other organizations’ environments. MeshMark functions as a service mesh performance index (a scale) to provide people the ability to weigh the value of their service mesh versus the overhead of their service mesh and assess whether they are getting out of the mesh what th

[2021-08-19 13:47] leecalcote commented on #223
Link to draft - https://docs.google.com/document/d/1tv3VFzn1fVKLwGPUnKs6I6zp-ZTYpOxy1BeC-3ivzeU/edit#

[2021-08-19 15:55] leecalcote opened #228 "[Site] Add hyperlink to slide deck"
**Current State of the service-mesh-performance site**
The project overview deck is iframe'd on the main project page - https://smp-spec.io
Visitors that want direct access to the presentation, though, aren't provided a link to the presentation.

**Desired State of the service-mesh-performance site**
Add a [hyperlink to the deck](https://docs.google.com/presentation/d/1fm7Eu1T3JSBPVmdFYyyevqQLSmAM

[2021-08-19 21:00] anonymousr007 commented on #227
Hi @leecalcote ,I am Rishabh, final year Computer Engineering student. I am intermediate level developer in python,c++ and I have good knowledge of data structures and algorithms. I would like to work in this project under LFX Mentorship Fall'21.Can you please provide further information related to this project.

Thanks & Regards
Rishabh

[2021-08-19 21:15] DelusionalOptimist commented on #227
Hey @anonymousr007! Thanks for showing interest in this. :slightly_smiling_face:
Please consider joining https://slack.layer5.io to learn more about this.

[2021-08-19 21:19] anonymousr007 commented on #227
Which channel is we used for conversation ? I am new in this project and confused 😅

[2021-08-19 21:21] anonymousr007 commented on #227
Application option show closed of this project : https://mentorship.lfx.linuxfoundation.org/project/278ad0b0-ec8a-474a-863b-a8a01956d99c

[2021-08-19 21:25] DelusionalOptimist commented on #227
@anonymousr007 let's start off with a small intro in the newcomers channel :smile:

[2021-08-19 21:34] anonymousr007 commented on #227
Yeah!!! What's the further process to getting selected in this project under LFX Mentorship Fall'21.

[2021-08-19 21:40] leecalcote opened #229 "[Chore] Contributing instructions update"
Update the CONTRIBUTING.md to say that SMP prominently and consistently engages with the Meshery project. For a more complete set of contributing guides see docs.meshery.io/project/contributing.

[2021-08-19 21:43] #221 closed

[2021-08-19 21:45] leecalcote commented on #228
@soham4abc ... you might tackle this one...

[2021-08-20 04:10] ShivamTyagi12345 commented on #229
Hey @leecalcote .Can I help with this

[2021-08-20 08:24] soham4abc commented on #228
Okay I am on it!

[2021-08-20 14:19] Rishi22-Coding commented on #229
I'm working on this Issue

[2021-08-20 20:28] leecalcote commented on #205
@NikhilSharma03 @Jashpatel1, it seems that I have neglected to include links to the google groups themselves.

- https://groups.google.com/a/smp-spec.io/g/community
- https://groups.google.com/a/smp-spec.io/g/user-group
- https://groups.google.com/a/smp-spec.io/g/maintainers

[2021-08-24 12:13] #229 closed

[2021-08-24 18:50] #166 closed

[2021-08-24 20:41] sunkuranganath commented on #223
Looking forward to the publication

[2021-08-24 20:45] sunkuranganath opened #234 "Add ServiceMeshCon-EU 2021 video to smp-spec site"
Service mesh performance in general and specifically the SMP project has been discussed in the ServiceMeshCon-EU conference recently. Would be good to add the recorded video posted by CNCF to the smp-spec.io site.

**Desired State of the service-mesh-performance site**
Video URL: https://www.youtube.com/watch?v=RXmgOsSxrSg&feature=youtu.be

This video is hosted at appropriate section of the smp ho

[2021-08-24 21:07] warunicorn19 commented on #170
@soham4abc are you working on this?

[2021-08-25 04:26] soham4abc commented on #170
No I am not

[2021-08-25 07:15] sudhay23 commented on #234
Hello, I would like to work on this one. May I have some more inputs on the files to change and specific requirements?

[2021-08-25 13:30] leecalcote commented on #223
Publisher's review is complete. Suggested edits forthcoming.

[2021-08-29 03:50] Rishi22-Coding commented on #234
@warunicorn19 @sunkuranganath hi, can you please check my pull request.

[2021-08-30 18:06] sunkuranganath commented on #234
I am not sure how it would reflect on the site. So best if we get approval from @warunicorn19 or @leecalcote

[2021-09-02 06:04] warunicorn19 opened #236 "[CI] Slack workflow"
**Description**
The slack star workflow seems to be failing

**Expected Behavior**
Well, it shouldn't

[2021-09-08 19:43] leecalcote opened #238 "Add link to CNCF SMP Community"
**Desired State of the service-mesh-performance site**
Find a good spot to add a link to the SMP Community as hosted on the CNCF Community site - https://community.cncf.io/service-mesh-performance-community/

[2021-09-09 06:42] Rishi22-Coding commented on #238
I will try this. Please assign me this work

[2021-09-09 06:43] warunicorn19 commented on #238
Here you go! @Rishi22-Coding

[2021-09-09 07:11] Rishi22-Coding commented on #238
@warunicorn19 Thank You

[2021-09-10 19:53] warunicorn19 commented on #238
@leecalcote we already have this link on the website right?

![Screenshot_20210911-012153](https://user-images.githubusercontent.com/53532328/132909896-c0fd5918-27af-414f-834f-335cdd24d4e2.jpg)

[2021-09-17 15:32] amino19 opened #240 "[CI] add label commenter workflow"
**Description:**

This repository should have the label commenter workflow.
It would run whenever an issue/pr is labeled with one of the targeted labels and comment down any relevant information.

**Contributor Reference:**

The workflow would use: https://github.com/peaceiris/actions-label-commenter

A sample workflow is defined in: https://github.com/meshery/meshery/blob/master/.github/workflows

[2021-09-17 15:33] amino19 commented on #240
@utkarsh-pro: Shall I work on it? :slightly_smiling_face:

[2021-09-17 16:50] #205 closed

[2021-09-17 16:53] #228 closed

[2021-09-17 16:59] leecalcote commented on #238
@warunicorn19 yes, you're right. 👍

[2021-09-17 16:59] #238 closed

[2021-09-21 18:22] navendu-pottekkat opened #242 "Defining benchmarks"
Define a few sets of benchmarks (scenarios/configurations) for the project to use and promote use of.

---
**Resources**

[Design Spec Template](https://docs.google.com/document/d/1G1x9XeJ_d2hmUR5A9bPfEvbITltUzJB-X25fkzTkSwU/edit)

[SMP Project Folder](https://drive.google.com/drive/folders/1G3dXNuQr0e_hg1Qu-an4rZ94T2eWZBX1?usp=sharing)

[2021-09-27 15:53] #240 closed

[2021-09-28 13:25] suhaniii commented on #226
@leecalcote I have some links like

https://github.com/meshery/meshery/blob/2a7ec0124a3d55aa93970bdfda6bf3f16ada493c/models/prometheus_per_node_config.go
https://github.com/service-mesh-performance/service-mesh-performance/blob/master/protos/service_mesh_performance.proto
https://docs.google.com/document/d/1OfkenB4KG5eqLY5nV3ABXE-JG1J9vwl-Emr8vHWcxgs/edit#heading=h.x176msbhraa6

But not sure how t

[2021-09-29 17:23] leecalcote opened #245 "Failure to notify Slack on star"
Hey, the issue is still there. I just joined the slack community and this happened. I'm adding a screenshot if that is helpful.

Screenshot:
![Screenshot (3620)](https://user-images.githubusercontent.com/43040093/135317265-dd19a86f-a96a-48b2-ac32-7d4b574bc67e.png)

_Originally posted by @lohityarra in https://github.com/service-mesh-performance/service-mesh-performance/issues/237#issuecomment-9303

[2021-09-29 17:27] lohityarra commented on #245
Have no idea what's going on. A newbie joining the community today.

[2021-09-29 17:29] leecalcote commented on #245
@lohityarra, no sweat. @amino19 will walk you through it, if you'd like to give it a go.

[2021-09-29 17:29] warunicorn19 commented on #245
@lohityarra you could still try though if you have basic knowledge of git😅, the workflow will be exactly like https://github.com/meshery/meshery/blob/master/.github/workflows/slack.yml this. with just the repository name change.

[2021-09-29 17:37] lohityarra commented on #245
Okay, @warunicorn19 I'll give it a try. I'll fork and do the repo name change, and hopefully it works.

[2021-09-29 18:06] lohityarra commented on #245
@leecalcote I gave it a try and made the change that @warunicorn19 said. Should I create a pull request?

[2021-09-29 22:45] suhaniii commented on #226
I would like to work on this. Can you please assign it to me?

[2021-09-30 14:20] amino19 commented on #245
@lohityarra: Sure, please create a pull request, so we'll guide you. :slightly_smiling_face:

@leecalcote: On it, with Lohit!

@warunicorn19: Pl assign him!

[2021-09-30 14:22] warunicorn19 commented on #245
@amino19 there's a PR open, could you please review.

[2021-09-30 15:09] nehaLohia27 opened #247 "Static boards are not shown"
**Description**

Deployed prometheus and grafana in the istio sytem namespace. I have also ran the performance test using one sample app bookinfo.

**Expected Behavior**

Static boards should show the details about the application deployed.

**Screenshots**

**Environment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Safari]
 - Version: [e.g. 22]
 - Device: [e.g. laptop, iPhone 8]

---
[Option

[2021-09-30 18:51] leecalcote commented on #247
// @dhruv0000

[2021-10-01 03:42] nehaLohia27 opened #248 "Error When communicating with server message popsup on grafana dashboards in meshery"
**Description**

Deployed grafana and prometheus in istio-system namespace. When accessing the istio dashboards in meshery server
there is a message "Error When communicating with server message" . This message is intermittent sometimes.

**Expected Behavior**

Ideally this message should not come up bcz data is seen on the dashboards.

**Screenshots**

<img width="1334" alt="Screenshot 2021-09-30

[2021-10-01 16:37] #248 closed

[2021-10-03 13:33] piyushsingariya opened #249 "Add `ServiceMesh` field in `PerformanceTestConfig` struct"
**Desired Behavior**

Currently SMP Performance Test Configuration doesn't have a field for Service Mesh. There's a requirement of such field in meshery/meshery#4167

https://github.com/service-mesh-performance/service-mesh-performance/blob/da41b07b39d9a3c74212062a54130bae8b7118b1/spec/service_mesh_performance.pb.go#L84-L98

---
**Resources**

**Alternatives / Additional Context**

[2021-10-04 14:00] leecalcote opened #250 "Incorporate screenshot into website"
**Current State of the service-mesh-performance site**
The site only has one screenshot of an SMP implementation.

**Desired State of the service-mesh-performance site**
Incorporate this screenshot of a performance test comparison into the site.

<img width="1605" alt="SMP comparisons in Meshery" src="https://user-images.githubusercontent.com/7570704/135864947-baf1c64b-d070-4fbf-a6c7-348e93924b34.

[2021-10-04 16:28] #170 closed

[2021-10-04 18:17] leecalcote opened #252 "Create dedicated page for mailing list sign-up"
**Current State of the service-mesh-performance site**
The current site doesn't have a page dedicated to the mailing lists. A link directly to the mailing lists on their own page is desirable.

**Desired State of the service-mesh-performance site**
We're in need of a simple page that contains the mailing lists, which are already present on the main page. This new page should be located at https://

[2021-10-04 18:19] geeythree commented on #252
Can I work on this issue?

[2021-10-04 18:23] warunicorn19 commented on #252
Sure @geeythree.

[2021-10-09 08:45] king-11 opened #254 "Incorrect resource URLs"
**Description**

`unsubscribed` page uses a relative url when asking for css and js resources which point to `unsubscribed/assets/css/responsive.css`

**Expected Behavior**

The resource should point to `/assets/css/responsive.css`

**Screenshots**

![image](https://user-images.githubusercontent.com/52061363/136651231-8658d9de-9ee8-448b-a923-fd6f812fb593.png)

**Environment:**
 - OS: Manjaro
 - Br

[2021-10-16 12:09] dhruv0000 commented on #247
Its an API endpoint for Meshery itself. It queries for perf results of your old tests. You can make a GET request to get the results.

PS: Sorry for late reply. Busy moving.

[2021-10-26 18:37] adithyaakrishna opened #257 "[Blog] - KubeCon NA 2021 Service Mesh Performance Office Hours"
**Current State of the service-mesh-performance site**
There is no update or information regarding Service Mesh Performance Office Hours in the recent KubeCon NA 2021

**Desired State of the service-mesh-performance site**

**Drive Link**: https://drive.google.com/file/d/1lL8dHSjAUml4-PtMKqKFoh_aJadzLaCJ/view

**Slides Link:** https://docs.google.com/presentation/d/1fm7Eu1T3JSBPVmdFYyyevqQLSmAMLXq

[2021-10-28 05:31] navendu-pottekkat opened #259 "Add schema to the website for better SEO"
**Current State of the service-mesh-performance site**
Add schema to the website for better SEO.

Refer: https://schema.org/docs/schemas.html
Implementation in Layer5's website: https://github.com/layer5io/layer5/blob/master/src/pages/index.js#L26

Schema validator: https://validator.schema.org/

**Desired State of the service-mesh-performance site**
A brief description of the change you are reque

[2021-10-29 00:24] sunkuranganath opened #260 "Provide link to SMP blog on Medium on smp-spec.io site"
Based on discussion in Slack, it was decided to provide a link to the following blog about SMP.
It would be good to provide this on smp-spec.io site.

Blog: https://sunkur.medium.com/5-things-to-know-about-service-mesh-performance-a8331765e995

[2021-10-29 12:43] ghulamyazdani opened #261 "[UI]- Header is misaligned in the mobile view."
**Description**

**Expected Behavior**
The whole header should have the same width
**Screenshots**

![image](https://user-images.githubusercontent.com/55938346/139435830-8ee05954-3829-4859-9e5f-bc583fb51893.png)

**Environment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Safari]
 - Version: [e.g. 22]
 - Device: [e.g. laptop, iPhone 8]

---
[Optional] **To Reproduce**
Steps to reproduce the be

[2021-10-30 14:30] #261 closed

[2021-10-30 15:16] akshatnema opened #263 "Wrong alignment of objects in website"
**Current State of the service-mesh-performance site**
 Errors in mobile view

- [x] Wrong aligning of text with image in `Created with LAYER5 and its open-source community.`
- [x] Inaccurate alignment of SMP logo in the footer section.
- [x] Wrong alignment of social icons in the footer section.

### Current State in website
Wrong aligning of text with image in `Created with LAYER5 and its open-s

[2021-10-30 15:17] akshatnema commented on #263
I want to work on this issue and will give you updates regarding this in next website meeting.

[2021-10-30 17:56] ghulamyazdani opened #264 "[UI]- Fix alignment of the content in the website"
**Description**

Content in the website is not center-aligned.
![image](https://user-images.githubusercontent.com/55938346/139545250-a7a5aa3f-5f47-4e49-b298-fb771a499358.png)

**Expected Behavior**

content should be center aligned .
#### For ex.
![image](https://user-images.githubusercontent.com/55938346/139546899-9dade3f7-b2a0-4c5c-a294-4c238ae54f42.png)

**Screenshots**

**Environment:**
 - OS:

[2021-10-30 18:24] ghulamyazdani commented on #264
@leecalcote I would like to fix this as well

[2021-10-30 18:27] vedant-kakde commented on #264
Hey @ghulamyazdani I think Akshat is already working on this issue for aligning the website content. So this issue can be closed. Thanks.

[2021-10-30 18:28] warunicorn19 commented on #264
@vedant-kakde that issue lists some different issues, @ghulamyazdani you can go ahead with this.

[2021-10-30 18:56] ghulamyazdani commented on #264
Hey @vedant-kakde issue addressed by akshat is different that's why I am creating a new issue for content alignment

[2021-10-30 18:58] vedant-kakde commented on #264
@ghulamyazdani yes got it. Go ahead 🚀

[2021-10-31 17:13] leecalcote opened #266 "Update YouTube channel hyperlink"
**Current Behavior**
The old YouTube channel link is being used on this site.

**Desired Behavior**
Switch all references to https://www.youtube.com/c/Layer5io

[2021-10-31 17:14] vedant-kakde commented on #266
I would like to work on this

[2021-10-31 17:15] leecalcote opened #267 "Enhance "Site Update" GitHub Issue Template"
**Current Behavior**
The "Site Update" issue template does not offer any helpful contributor resources about how to build Jekyll (the site) - https://github.com/service-mesh-performance/service-mesh-performance/blob/master/.github/ISSUE_TEMPLATE/site_update.md

**Desired Behavior**
This template should have resources similar to or the same as that of Meshery's - https://github.com/meshery/meshery/

[2021-11-01 13:37] #263 closed

[2021-11-02 12:13] #266 closed

[2021-11-04 17:42] leecalcote commented on #223
Published! https://www.nxtbook.com/nxtbooks/ieee/bridge_issue3_2021/index.php#/p/16  // @sunkuranganath @mum4k @mganguli @oschaaf

[2021-11-04 17:42] #223 closed

[2021-11-04 17:44] leecalcote commented on #260
@sunkuranganath what do you think? Does publishing the post under https://smp-spec.io/blog make sense?

[2021-11-05 18:56] sunkuranganath commented on #260
@leecalcote  yes absolutely. Since the original blog talks about my perspective it might be of better influence to directly link to that. If you see that doesnt fit into the site, we can port the content over to a new page and mention at the end the source of the content. I am good with either methods.

[2021-11-08 04:14] #267 closed

[2021-11-09 20:36] #259 closed

[2021-11-11 20:11] Abhishek-kumar09 opened #272 "New SMP DashBoard"
**Current Behavior**

So service Mesh Performance shows rich performance profiles and realtime tests results, but there   is a need of the dashboard for the SMP where results are analysed and charted visually to give better insights to performance results. The current charts are good but are not showing the ample amount of data that the SMP holds power to.

- Design backend for facilitating the da

[2021-11-12 09:25] navendu-pottekkat commented on #226
@oschaaf Could you look into this?

[2021-11-16 21:05] Mr-DG-Wick commented on #257
I think I can take this. @sunkuranganath must be busy.

[2021-11-16 21:26] warunicorn19 commented on #257
Sounds good @Mr-DG-Wick

[2021-11-16 22:48] sunkuranganath commented on #257
@Mr-DG-Wick please go ahead. Thank you.

[2021-11-17 08:32] Mr-DG-Wick opened #274 "[Bug] Unnecessary "by" word under the blog page"
**Description**

**Expected Behavior**

**Screenshots**

**Environment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Safari]
 - Version: [e.g. 22]
 - Device: [e.g. laptop, iPhone 8]

---
[Optional] **To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-11-17 08:34] #274 closed

[2021-11-17 08:42] Mr-DG-Wick opened #275 "[Bug] Remove the unwanted "by" from the "MAIN" blog site."
**Current State of the service-mesh-performance site**

The current blog site has an unwanted "by" word at the top. See this for reference:

![Screenshot (1117)_LI](https://user-images.githubusercontent.com/81250703/142165589-280c2428-ccb0-4282-be18-34669f056548.jpg)

**Desired State of the service-mesh-performance site**

Restrict the "by" word only to specific blog pages, for example see [this](

[2021-11-17 18:19] toth2000 commented on #275
Looking into this.

[2021-11-17 18:22] warunicorn19 commented on #275
thank you @toth2000

[2021-11-19 23:23] #275 closed

[2021-11-19 23:25] #264 closed

[2021-11-20 01:43] leecalcote opened #277 "[Site] Responsive issue: overlapping buttons"
**Description**
<img width="965" alt="Screen Shot 2021-11-19 at 5 24 37 PM" src="https://user-images.githubusercontent.com/7570704/142709914-fb34c124-d1e2-44d4-8452-1e32d282fc57.png">

**Expected Behavior**
These two buttons shouldn't overlap.

[2021-11-20 01:51] leecalcote commented on #250
@adithyaakrishna would you like to finish this one off?

[2021-11-20 01:52] leecalcote commented on #254
@king-11 still something that you're working on?

[2021-11-20 01:57] king-11 commented on #254
@leecalcote sorry for the delay i will look at it this weekend 😄

[2021-11-20 06:51] adithyaakrishna commented on #250
Yep, on it @leecalcote

[2021-11-20 09:57] navendu-pottekkat commented on #260
@sunkuranganath Please create a new page and write your article there. We can add a canonical URL to your original post and mention that as well when we publish. This would ensure that we do not affect the SEO of the post and the website.

[2021-11-20 18:01] king-11 opened #279 "Ruby 3.0.0 Support"
**Description**

The doc command `make site` fails on Ruby 3.0.0.

- https://github.com/jekyll/jekyll/issues/8523

**Expected Behavior**

Just fine even on Ruby 3.0.0

**Screenshots**

![image](https://user-images.githubusercontent.com/52061363/142736497-b0240875-9ca7-4f94-9a8f-f6ab467bdcde.png)

**Environment:**
 - OS: Manjaro
 - Version: Rolling
 - Device: Laptop

---
**To Reproduce**
Steps to r

[2021-11-20 18:09] king-11 opened #281 "Inclusive Naming"
**Current Behavior**

Currently, the working branch is named `master` which doesn't follow inclusive naming as is a part of slave terminology.

**Desired Behavior**

Move to `main` branch suggested by GitHub and which follows inclusive naming guidelines.

---
**Resources**

- https://github.com/github/renaming

[2021-11-20 18:16] king-11 opened #282 "Incorrect Unit in CSS"
**Description**

A typo in `docs/assets/css/resposive.css` where `px` I assume is mistakenly typed as `p` because of which property has no effect on the actual rendering of elements

**Expected Behavior**

`px` should be used

**Screenshots**

https://github.com/service-mesh-performance/service-mesh-performance/blob/3caeeea226e55652c4fe8a43c05f1e720e32412f/docs/assets/css/responsive.css#L5

[2021-11-20 18:17] king-11 commented on #277
I would like to take this up

[2021-11-20 18:20] king-11 commented on #236
This was resolved by #246 can be closed I think.

[2021-11-21 15:53] Mr-DG-Wick commented on #257
I shall have the draft soon :)

[2021-11-23 01:43] leecalcote commented on #250
Thank you much.

[2021-11-23 11:27] leecalcote commented on #236
Thank you, @king-11. Closing issue...

[2021-11-23 11:27] #236 closed

[2021-11-28 15:27] sahilsuman933 commented on #277
@leecalcote Can you please assign this task to me.

[2021-11-29 19:48] leecalcote commented on #277
Oh, my goodness. I missed the messages here. @king-11 you're most welcome to pick this one up. Assuming that we've missed you on this one, I'll tag @sahilsuman933. Please do comment, though, if you'd still like to give this one a go.

[2021-11-29 21:34] sahilsuman933 commented on #277
@leecalcote Sure Sir. I would love to fix this issue :)

[2021-12-01 15:29] #277 closed

[2021-12-01 16:55] #254 closed

[2021-12-02 19:39] #279 closed

[2021-12-02 19:39] #282 closed

[2021-12-03 03:45] leecalcote opened #286 "Test Configurations: Request Buffering"
**Current Behavior**
A request for test scenarios surrounding request buffering has been made.

**Desired Behavior**

- configuring ingress gateway to load-balance based on header content
- creating several test suites with varying size of header “payload”
- tuning Istio ingress gateway request size buffer down to minimum for each test run

Reference - https://discuss.istio.io/t/want-to-evaluate-i

[2021-12-03 03:46] leecalcote opened #287 "test"
**Description**

**Expected Behavior**

**Screenshots**

**Environment:**
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Safari]
 - Version: [e.g. 22]
 - Device: [e.g. laptop, iPhone 8]

---
[Optional] **To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-12-03 22:34] DhairyaBahl commented on #272
@leecalcote I would like to work on this issue. Kindly assign it to me. Also kindly guide me a bit on how can I get started this project like building this in my local environment and stuff like that.

@Abhishek-kumar09 Hello, I am new with Layer5. It would be nice if you can help me out with doubts that I will have while I am trying to understand the codebase.

[2021-12-05 15:28] Deepansharora27 commented on #250
I would like to work on this @vedant-kakde

[2021-12-05 15:30] warunicorn19 commented on #250
Please go ahead @Deepansharora27

[2021-12-05 15:30] Deepansharora27 commented on #250
Thanks @warunicorn19

[2021-12-05 15:31] vedant-kakde commented on #250
Thanks @Deepansharora27 & @warunicorn19

[2021-12-06 06:51] Deepansharora27 commented on #250
Hi
While working on this issue I am having a query that :
The Screenshot which is to be incorporated is present in the assets directory or do I need to include it explicitly ?

[2021-12-07 06:57] adithyaakrishna commented on #250
@Deepansharora27 Thanks a lot man :)
I had completely forgot about this issue :/

[2021-12-07 07:32] Deepansharora27 commented on #250
@adithyaakrishna I have made a pull request for the same.
@debo19 has suggested some changes
So will be incorporating that

[2021-12-08 14:23] #250 closed

[2021-12-13 11:09] Mr-DG-Wick commented on #257
😅 Got a bit busy with exams and stuff. I'll get this assigned to someone willing in today's call.

[2021-12-13 11:45] navendu-pottekkat commented on #257
Could you link any materials you have written for this so that someone else can pick it up?

[2021-12-13 12:37] AnshumanDhiman commented on #257
Hi can I take this up ? can anyone please specify on what topic the blog's needed to be created.... as I am not clear about the mentioned issue?

[2021-12-13 12:40] Mr-DG-Wick commented on #257
the blog in other words is a recap of the presentation given in the smp office hours in Kubecon NA 2021

[2021-12-13 18:02] cpepper96 opened #289 "Update Slack.yml and add newcomer-alert workflow"
**Current Behavior**
Currently the slack.yml is outdated. Also there is no automated way of notifying the slack channel when a "good first issue" has been created.

**Desired Behavior**
Update slack.yml and add newcomer-alert.yml to the Github workflow.

---
**Resources**
Add the updated slack.yml file and the newcomer-alert.yml file to the .github/workflow folder.

Files needed:
https://github.co

[2021-12-13 21:09] leecalcote commented on #289
Thank you, @cpepper96 👍

[2021-12-14 16:10] debo19 opened #291 "Make card sizes uniform on the site"
**Description**
- Cards for resources are not of the same size.
- The blog cards look disorganized.

**Expected Behavior**
- Uniformity of grid sizing
- Equalize the size used in the blog grid (and other grids)

**Screenshots**
![grid](https://user-images.githubusercontent.com/85789734/146035378-4bd04066-bcea-4385-8518-24b3a8dfe2fc.jpg)

![cards](https://user-images.githubusercontent.com/85789734/

[2021-12-14 18:28] AnshumanDhiman commented on #291
can I work on this @debo19

[2021-12-14 19:11] leecalcote commented on #291
Go, @AnshumanDhiman, go!

_- your personal cheerleader._

[2021-12-14 20:40] #289 closed

[2021-12-15 19:01] AnshumanDhiman commented on #291
Thank you lee 😃

[2021-12-15 19:36] AnshumanDhiman commented on #291
@debo19 I need some help, the cards created are kind off hooked, like there is template for 1 card in the code and we are using it to derive other cards from the same code.
This is creating problem, that If I want to edit a particular card other card will also be affected
![image_2021-12-16_010432](https://user-images.githubusercontent.com/67755381/146252995-87a627e6-7110-4188-a2e9-1dfb59256ae0.pn

[2021-12-16 21:42] debo19 commented on #291
@AnshumanDhiman Separating each card will make the code redundant, we will have more posts added in eventually. 🤔 Did you try giving the cards a min-height? We'll probably have to use same sized images and subtitles to make them have similar sizes in this case. Also, we can try aligning the cards vertically to the bottom of the row, then the green part may look aligned.

[2021-12-17 18:57] jbyers19 opened #292 "SMP should measure CPU and memory usage of mesh resources"
**Current Behavior**
Current SMP metrics are focused primarily on network performance: latency, RPS, etc.

**Desired Behavior**
CPU and memory performance should be measured in addition to network performance.

---

**Alternatives / Additional Context**
Network performance is a very important aspect of a service mesh, but CPU and memory usage are important as well. Users will be able to use this i

[2021-12-21 07:14] gyohuangxin commented on #292
At this stage, what SMP can measure depends on the output of load-generators(ngihthawk, wrk2, fortio), and they are not good at measuring CPU and memory.
We can extend our meshery-perf functions to get CPU, memory and other useful metrics from Prometheus API and return. Any comments? @leecalcote @navendu-pottekkat

@sunkuranganath FYI. I know you're an expert in this.

[2021-12-21 08:02] navendu-pottekkat commented on #292
Meshery does facilitate this to some extent that users can [use Meshery to deploy Prometheus and collect metrics](https://docs.meshery.io/functionality/performance-management) they want and display it on a Grafana dashboard while running performance benchmarks. But these are not captured in the spec and not in Meshery's test results.

Expanding the spec as this issue requests is a first step towar

[2021-12-21 08:23] gyohuangxin commented on #292
@navendu-pottekkat Can't agree anymore, SMP shouldn't be limited with Meshery capability. I'll work on it, thanks!

[2021-12-28 14:22] leecalcote opened #293 "Refresh GitHub Issue Templates"
**Current Behavior**
The current template for feature request, bug, question, and website need to be updated (https://github.com/service-mesh-performance/service-mesh-performance/tree/master/.github/ISSUE_TEMPLATE).

**Desired Behavior**
Copy from Meshery and Meshery.io's issue templates, updating the templates in this repo with a very similar format.

[2021-12-28 16:29] Ciggzy1312 commented on #293
Hey @leecalcote I would like to give this a try

[2021-12-28 16:38] leecalcote commented on #293
Thanks, @Ciggzy1312 !

[2021-12-28 19:54] leecalcote opened #294 "Add support for Cilium Service Mesh"
**Current Behavior**
SMP has a canonical list of all service meshes - https://github.com/service-mesh-performance/service-mesh-performance/blob/master/protos/service_mesh.proto

**Desired Behavior**
The SMP proto that tracks this list needs to be updated with an entry for Cilium Service Mesh.

[2021-12-28 20:00] leecalcote commented on #294
@iamsdas, you might like to pick this one up.

[2021-12-29 06:24] #294 closed

[2021-12-29 10:22] gyohuangxin commented on #292
@jbyers19 @navendu-pottekkat I raised a PR to add CPU, Memory and Swap usage information in performance test result. I'm not sure if it meets real needs, can you have a review and  leave comments?

[2021-12-30 17:59] leecalcote commented on #257
Checking on progress...

[2022-01-01 07:48] KerinPithawala commented on #293
Can I work on this issue?

[2022-01-01 15:51] Ciggzy1312 commented on #293
@KerinPithawala I am almost done with this :)
@leecalcote I think the current site_update.md looks better than meshery.io's but if you still want me to alter it I will. Do let me know what you think

[2022-01-01 16:14] leecalcote commented on #293
@KerinPithawala thanks for jumping in. Actually, the issue templates across all repos in the five orgs that we shepherd - https://discuss.layer5.io/t/layer5-community-now-spans-across-five-github-organizations/117. Please do.

[2022-01-01 16:15] leecalcote commented on #293
@Ciggzy1312 ha! You're right. Let's flip-flop this request and have the meshery.io issue template updated.

[2022-01-01 22:05] leecalcote commented on #260
@sunkuranganath, new year, new attempt at this request?

[2022-01-01 22:08] leecalcote commented on #272
@DhairyaBahl I completely missed this message. No one is working on this. Yes, a dashboard using Jekyll is ideal. Are you still interested in progressing here?

[2022-01-02 18:33] #293 closed

[2022-01-03 14:04] YashKamboj opened #298 "Need validation for the Newsletter form"
#### Description

There is no validation of the input fields in the newsletter form .
#### Expected Behavior

should not proceed without any input
#### Screenshots

#### Enviroment:
 - OS: [e.g. Ubuntu]
 - Browser: [e.g. Chrome, Safari]
 - Version: [e.g. 22]
 - Device: [e.g. laptop, iPhone 8]

---
#### [Optional] To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Sc

[2022-01-03 14:58] sunkuranganath commented on #260
Thanks for being patient. Will publish this shortly.

[2022-01-04 06:49] Vidyaa123 commented on #298
Hi @YashKamboj, Can I work on this issue, please?

[2022-01-04 07:24] YashKamboj commented on #298
Yeah!!, Go ahead 👍

[2022-01-04 12:03] Vidyaa123 commented on #298
👍

[2022-01-04 12:04] Vidyaa123 commented on #298
👍

[2022-01-06 17:32] YashKamboj commented on #298
@Vidyaa123 you can check layer5io/getnighthawk#234 for reference, if you face any problem

[2022-01-06 17:37] Vidyaa123 commented on #298
I have completed and raised a PR for this issue.

[2022-01-06 17:42] YashKamboj commented on #298
Oh, you forgot to connect the pr

[2022-01-06 20:28] #298 closed

[2022-01-12 21:15] DhairyaBahl commented on #272
@leecalcote Yes for sure ! I would love to work on this. Kindly give me some resources so that I will quickly get started with this issue.

[2022-01-24 08:17] Sunnyio commented on #257
I would like to work on this if no one is doing it currently.

[2022-02-08 03:46] #292 closed

[2022-02-09 13:04] asubedy commented on #272
I would like to work on this issue.  Got some good exposure to Jekyll while contributing on the compatibility matrix.

[2022-02-10 18:51] iambami commented on #184
@navendu-pottekkat I think this issue is solved, can it be closed?

[2022-02-15 15:11] #249 closed

[2022-02-16 14:07] navendu-pottekkat commented on #184
Thank you for pointing this out @iambami !

How far have we come since April!

Meshery SMP Action: https://github.com/layer5io/meshery-smp-action

[2022-02-16 14:07] #184 closed

[2022-02-19 07:36] Abhijay007 commented on #272
@asubedy I want to collaborate on this :)

[2022-02-26 19:13] DhairyaBahl commented on #272
I was busy from past one month on my college exams and all and that is why I was unable to give much time to open source.  I will start working on this issue asap.

@asubedy @Abhijay007 are you guys working on this issue ? or should I continue working on this. Kindly inform me.

[2022-03-01 12:30] YashKamboj commented on #272
@DhairyaBahl Are you still working on it ??, if yes would you please ping me on slack

[2022-03-04 16:01] Nikhil-Ladha commented on #291
Any updates on the issue @AnshumanDhiman ?

[2022-03-04 17:49] AnshumanDhiman commented on #291
@Nikhil-Ladha I am facing issues with refactoring the cards as they all are linked together with a single one like passed on as a prop. As every card has different image dimensions so to customize every card, we have to create each card manually which will increase the code. If anyone can take this issue with a different approach, it will be helpful.

[2022-03-04 21:56] Nikhil-Ladha commented on #291
Thanks for the heads-up @AnshumanDhiman . Let's see if anyone has other ideas.

[2022-03-07 03:58] Atif0604 commented on #291
Can you please assign me this issue under Openforce

[2022-03-07 03:59] warunicorn19 commented on #291
Go ahead @Atif0604

[2022-03-21 03:44] nik132-eng commented on #291
Hi, I am Nikunj Rohit, a contributor to OpenForce 2022. If this issue is still open I would like to work on this issue and try better to enhance it more. I would be making a PR as soon as I am done with resolving the issue. Thank you
@debo19 @warunicorn19 @Nikhil-Ladha

[2022-03-23 07:34] gyohuangxin opened #308 "SMP community information need to be updated"
**Current State:**
Current community information is outdated, someone interested in SMP can't find out the latest status.

**Desired State:**
We need to update the meeting minutes link and zoom link: https://github.com/service-mesh-performance/service-mesh-performance/blob/master/README.md?plain=1#L19

---
**Contributor Resources**
- [Service Mesh Performance documentation source](https://github.c

[2022-03-23 07:34] gyohuangxin commented on #308
@leecalcote What do you think?

[2022-03-24 17:54] Akshit42-hue commented on #291
Can I work on this issue @debo19

[2022-03-24 21:27] debo19 commented on #291
@St80ene volunteered to take a look in the last websites call iirc. Were you successful here? If you're not working on this currently, we can pass on the assignment

[2022-03-24 23:30] St80ene commented on #291
@Akshit42-hue can handle it if possible since he indicated before me. Although, I was just taking some time to study the code. But it's cool.

[2022-03-28 01:39] gyohuangxin commented on #308
@leecalcote And can you add my name here? https://github.com/service-mesh-performance/service-mesh-performance/blob/master/MAINTAINERS.md

[2022-04-04 11:18] debo19 commented on #291
@Akshit42-hue will you be taking this forward from here?

[2022-04-04 15:56] Akshit42-hue commented on #291
Sure, I will @debo19

[2022-04-06 18:10] Abhijay007 opened #311 "Prevent overlapping of sidebar in Dashboard"
#### Description

Right now the sidebar in the dashboard is overlapping the footer of the site

#### Expected Behavior

Try to prevent overlapping, if possible restrict the behavior of the sidebar above the footer only

#### Screenshots

![image](https://user-images.githubusercontent.com/64387054/162040363-f8ebc4d4-572f-4d4a-bc9c-45f702a6bd1f.png)

#### Enviroment:
 - OS: [e.g. Ubuntu]
 - Browser:

[2022-04-06 18:11] Abhijay007 commented on #311
cc @asubedy

[2022-04-06 18:13] asubedy commented on #311
Yes thank you @Abhijay007, I was going to fix it sneakily 😆

[2022-04-06 18:15] Abhijay007 commented on #311
Ya, @asubedy and let me know if you need any kind of assistance regarding Dashboard responsiveness in mobile devices or new features implementation :)

[2022-04-06 18:17] Abhijay007 commented on #311
one more thing that we may need to restrict the usage of the dashboard on mobile devices because I don't think it is accessible on that or maybe not compatible too, thoughts?

[2022-04-08 06:27] asubedy commented on #311
@Abhijay007 well I don't think we can restrict usage, although it will look nice om a PC devices but still having responsiveness on a mobile device will still be a plus point. The graph visibility could be reduced on a mobile device but that shouldn't stop us to make a mobile compatible site.

[2022-04-10 04:19] Akshit42-hue commented on #311
Hey @asubedy, @Abhijay007 Can I work on this issue

[2022-04-10 11:46] asubedy commented on #311
Hi @Akshit42-hue , this issue is already a work in  progress.  I encourage you to look for other issues to contribute in the mean time. Thank you. 😄

[2022-04-10 12:39] Akshit42-hue commented on #311
Ok, thanks for the update @asubedy :)

[2022-04-10 13:24] leecalcote commented on #311
@asubedy who's working on the issue? Please update the Assignee.

[2022-04-11 18:37] #311 closed

[2022-05-03 12:44] gyohuangxin opened #319 "Review and improve SMP specs with the necessary environment details."
#### Current Behavior

At this stage, the SMP specs are general and not includes specific in-depth metrics and information details.
There are there scopes of metrics and information SMP collects:
- [metadata of service mesh](https://github.com/service-mesh-performance/service-mesh-performance/blob/master/protos/service_mesh.proto)
- [metadata of running applications](https://github.com/service-mes

[2022-05-03 12:44] leecalcote commented on #319
Excellent

[2022-05-03 12:47] gyohuangxin commented on #319
Any information and suggestion from you are useful and welcome.
@leecalcote @jtaleric @service-mesh-performance/spec-maintainers

[2022-05-03 14:40] iambami opened #320 "[Docs] Add Xin Huang to Service Mesh Maintainers"
**Current State:**
@gyohuangxin is the new Service Mesh Maintainer and I have not been added to the Maintainer.md

**Desired State:**
Add @gyohuangxin to Maintainer.md

---
**Contributor Resources**
- [Service Mesh Performance documentation source](https://github.com/layer5io/service-mesh-performance/tree/master/docs)
- [Instructions for contributing to documentation](https://github.com/layer5io/s

[2022-05-03 17:21] leecalcote commented on #308
Sounds great. Yes, let's have this info updated. 👍

[2022-05-05 20:40] #308 closed

[2022-05-05 20:45] leecalcote opened #323 "Publication of MeshMark"
#### Current Behavior
Related to #227, MeshMark in its initial form has been defined.

#### Desired Behavior
Its definition should be published on amp-spec.io/meshmark

#### Acceptance Tests
1. This should include its formula and description of scoring system.

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://d

[2022-05-06 15:23] #260 closed

[2022-05-08 16:33] Abhijay007 commented on #323
Hi @leecalcote do we need to make a separate page covering MeshMark?  I am a little confused as we already have this page here: https://smp-spec.io/blog/spec/meshmark-explained, would you please tell me what you mean by the "publication of MeshMark" and from where I can learn more about it.

[2022-05-08 16:48] leecalcote commented on #323
Yes. - separate page. Materials for the page can be found in the ServiceMeshCon EU deck and the google doc on MeshMark.

[2022-05-08 16:52] Abhijay007 commented on #323
Ok I will work on it

[2022-05-11 20:06] leecalcote opened #325 "Implementation of MeshMark"
#### Description:

Create MeshMark provides a universal performance index to gauge your mesh’s efficiency against deployments in other organizations’ environments. MeshMark functions as a service mesh performance index (a scale) to provide people the ability to weigh the value of their service mesh versus the overhead of their service mesh and assess whether they are getting out of the mesh what t

[2022-05-14 14:05] leecalcote opened #329 "Use MeshMark logo in /meshmark page"
#### Current Behavior
New logo available.

#### Desired Behavior
See https://github.com/layer5io/layer5/issues/2789

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github.com/meshery/meshery/blob/master/CON

[2022-05-16 04:51] #323 closed

[2022-05-16 14:12] Abhishek-kumar09 opened #330 "Additional Improvements in SMP-dashboard"
@Abhishek-kumar09 use a combination of blonde and saffron to indicate active vs non-active, if you would. Drop the bold font weight and use normal, please.

Please drop the margin between the two buttons and the bottom border radius. Disallow the two buttons from row-wrapping (keep them on the same row).

These buttons are functioning as a tabbed menu. Even though they are not technically that, le

[2022-05-18 18:12] leecalcote opened #336 "Website: Improve footer responsiveness"
#### Description
Currently:
<img width="1068" alt="Screen Shot 2022-05-18 at 1 10 40 PM" src="https://user-images.githubusercontent.com/7570704/169115124-eb10df57-16ee-43d7-84ea-4dff970a2224.png">

#### Expected Behavior
Breakpoints and column sizes should be adjusted to better fit browser width responsively.

### Contributor Resources

The meshery.io website uses Jekyll and GitHub Pages. Site con

[2022-05-19 12:43] AnuragThePathak commented on #325
Hi, I'm Anurag Pathak, a full-stack developer and B. Tech. 2nd-year CSE student. I have been working with Kubernetes and Golang for the last 2-3 months and contributing to Brigade and Argo-workflow. While looking for some good projects in LFX Mentorship which interest me, I found Meshmark. I would like to work on it in LFX Mentorship Summer 2022.

I was trying to join slack of service-mesh-perform

[2022-05-19 13:06] warunicorn19 commented on #325
Hey @AnuragThePathak! Glad that our project intrigues you. Please feel free to join our slack here: https://slack.layer5.io

[2022-05-19 13:20] AnuragThePathak commented on #325
@warunicorn19 sadly I'm seeing "This link is no longer active" again.

[2022-05-19 13:33] warunicorn19 commented on #325
Join me on Slack -- it’s a faster, simpler way to work. Sign up here, from any device: https://join.slack.com/t/layer5io/shared_invite/zt-197rzjnxf-R8beRyJ9Tm_BKCCPuaKzjg
try this one ☝️

[2022-05-22 09:14] Harshit-Dandriyal commented on #336
I can take this issue if no one is taking this issue in today :smile:

[2022-05-22 14:28] gyohuangxin commented on #336
@Harshit-Dandriyal Thank you for taking this, please go ahead.

[2022-05-24 18:36] YashKamboj opened #340 "[Bug] Size of navbar doesn't decrease on scroll"
#### Description

The size of the navbar doesn't decrease on scroll on the [meshmark page](https://smp-spec.io/meshmark) like on the other pages.
#### Expected Behavior

The size of the navbar should decrease on scroll.

#### Screenshots

https://user-images.githubusercontent.com/75125203/170107901-914fe1f2-b5c0-42c7-8688-30ec5066fb43.mp4

### Contributor Resources

The meshery.io website uses Jek

[2022-05-25 07:21] gyohuangxin commented on #319
We used fortio to perform some benchmarks recently, and found it can provide many useful information.

- Add more network details in [PerformanceTestConfig](https://github.com/service-mesh-performance/service-mesh-performance/blob/master/protos/service_mesh_performance.proto#L18), we can get these information from load generator configuration:

    - number of connections, threads
    - keepalive

[2022-05-25 08:04] MayankMittal1 commented on #325
Hi, I'm Mayank Mittal, 2nd year student from IIT Roorkee, I am interested in this project for Lfx summer mentorship, please guide me to get started.
Thanks

[2022-05-25 08:48] gyohuangxin commented on #325
@MayankMittal1 Welcome! We are glad that you are interest in this project. About MeshMark, you can go through https://smp-spec.io/meshmark, and feel free to talk with us on Slack, you can get any helps from community members.

[2022-05-26 15:46] #340 closed

[2022-06-29 20:28] leecalcote opened #343 "Dashboard Request: Make "Test Specification" and “Environment Details" feel like tabs."
#### Current Behavior

#### Desired Behavior

#### Implementation

#### Acceptance Tests

#### Mockups

---
#### Contributor [Guides](https://docs.meshery.io/project/contributing) and Resources
- 🛠 [Meshery Build & Release Strategy](https://docs.meshery.io/project/build-and-release)
- 📚 [Instructions for contributing to documentation](https://github.com/meshery/meshery/blob/master/CONTRIBUTING.md#

[2022-06-30 11:44] abs007 commented on #227
Hi, I saw this project in the lfx fall'21 program. I was wondering if this project would be available for the upcoming fall'22 program too.

[2022-07-09 00:29] #343 closed

[2022-08-03 02:26] gyohuangxin opened #348 "Dashboard: reporting 404 when turning pages"
#### Description

When I click the button below to turn to page 2, it will report 404 error.
![image](https://user-images.githubusercontent.com/42127654/182510759-69cd376a-ab9c-4ed6-99a2-3b8493504103.png)
![image](https://user-images.githubusercontent.com/42127654/182510789-79396b71-62fa-4c9e-8a99-97492bb790df.png)

[2022-08-03 02:27] gyohuangxin commented on #348
@asubedy Can you take a look at this?

[2022-08-03 03:33] asubedy commented on #348
Yikes 😱 ok I am taking a look.

[2022-08-03 03:35] gyohuangxin commented on #348
@asubedy Thank you!

[2022-08-03 03:39] gyohuangxin commented on #348
I have one more question, why are only 5 profiles shown in the dashboard?
![image](https://user-images.githubusercontent.com/42127654/182518666-b63a95a8-5237-4633-9682-a5068dda3053.png)

We now have 12 profiles in the scheduled benchmark.
![image](https://user-images.githubusercontent.com/42127654/182518893-e3c71589-f51e-408c-a1ed-00f4ba7d360e.png)

[2022-08-03 03:43] asubedy commented on #348
As stated on the slack. The performance profile which don't hbe any result re hidden on the frontend. Removing them we are left with only five profiles.

[2022-08-12 06:19] gyohuangxin commented on #348
@asubedy Any updates?

[2022-08-12 20:42] #348 closed

[2022-08-12 23:36] leecalcote opened #350 "Adaptive Load Controller"
#### Current Behavior
The goal of an adaptive load controller is to determine the maximum load a system can sustain.

The maximum load is usually defined by the maximum requests per second (rps) the system can handle. The metrics (CPU usage, latency etc) collected from the system under test are the constraints we provide to judge whether a system under test (SUT) is sustaining the load.

A use-cas

[2022-08-12 23:56] leecalcote opened #351 "Convergence of Network and Graph topologies"
#### Current Behavior
Opens the door to leveraging algorithms in the areas of Centrality, Community Detection, Pathfinding, Topological Link Prediction, etc. Bringing to bear advances made in Machine Learning / AI / recommendation systems, fraud detection could really help to derive meaning and comprehension for future tools. Another example is how ML + graph approaches are used to find and determ

[2022-08-19 07:18] anonymousr007 commented on #351
Hello Sir,

I am Rishabh, an undergraduate computer engineering student at Delhi Technological University. I am interested in this project of Mentorship of LFX. Can you please share further information? How can we be selected for mentorship and also contribute to this project?

Thanks & Regards
Rishabh

[2022-08-19 11:11] leecalcote commented on #351
@anonymousr007 I recommend putting the counsel offered in the FAQs on this [page](https://layer5.io/programs)  into action.

[2022-08-20 18:26] zeel-pathak commented on #350
Hey @leecalcote, I would love to work on this issue under LFX Mentorship.

Apart from applying on LFX, is there anything else I should do to increase my chances of selection?

Would love to work with such an amazing community.

[2022-08-23 15:08] neeraj-2 commented on #336
Thinking to work on some small issues for having a good understanding of the project. Can I take it and create a PR for the same @gyohuangxin, @leecalcote?

[2022-08-23 15:26] gyohuangxin commented on #336
@neeraj-2 Of course, it seems @Harshit-Dandriyal doesn't have updates so far. Please go ahead to take this and create a PR.

[2022-08-23 16:01] leecalcote commented on #336
Excellent. 😀

[2022-08-25 07:05] zeel-pathak commented on #350
Hey @leecalcote, submitted my application and can't wait to work on this project. Looking forward to work as mentee and hope to get selected ☺️

[2022-09-05 19:33] #336 closed

[2022-09-06 13:52] neeraj-2 commented on #319
is this issue still open to working upon? @gyohuangxin Can I start working on it?

[2022-09-17 08:14] nik132-eng commented on #291
if the issue is solved pls close it.

[2022-10-27 16:25] theBeginner86 opened #357 "[bug] Trailing "/" not redirecting to Dashboard"
#### Description

Currently, `https://smp-spec.io/dashboard/` doesn't redirect to `https://smp-spec.io/dashboard` and leads to 404 page.
This edge case should be accounted for and users should be redirected to the correct page.

Error:
<img width="1319" alt="Screenshot 2022-10-27 at 9 54 37 PM" src="https://user-images.githubusercontent.com/73700530/198345883-17c56aed-0b4c-4a19-add8-7a5cc40cb014.p

[2022-10-27 16:27] theBeginner86 commented on #357
// @asubedy

[2022-11-07 16:32] chethan27 commented on #330
Hey @leecalcote , I am interested in working on this implementation. Please assign me this issue.

[2022-11-07 17:17] leecalcote commented on #330
@chethan27, excellent. Given how much has transpired in the time that this issue has been raised, I'm tagging @asubedy to help qualify the issue as still being valid.

[2022-11-08 06:16] chethan27 commented on #330
Yes, please let me know